[2020-12-10 12:07] ninpnin commented on #1
Schema validation is done in the validator.py script. It uses the _lxml_ library to load the parla-clarin schema in .xsd format:

[code]

For some reason, the result of the validation is _False_. It would be unexpected for it to be due to an actually invalid example file.

[2020-12-10 12:14] ninpnin commented on #1
Notes:
- The  _lxml_ validation function required the _dcr.tmp_ function to be in the schema directory. Its location was not passed in the arguments.
-

[2020-12-10 12:47] ninpnin opened #4 "Include digital originals"
Include the digital originals starting from roughly the late nineties.
- [x] 1990-2001 format: metadata in ```<div>``` tags, data in ```<pre>``` tags
- [x] 2002-2010 format: metadata and data in ```<div>```  tags with various classes, includes ```<h2>``` etc as well
- [ ] 2011-> format: convoluted HTML format, metadata in XML

[2020-12-17 10:29] ninpnin opened #6 "Match speech introductions and MPs in the database"
For each speech in the data, the speaker should be detected. A unique identifier should be created for each MP in the database, and this id should be added to the Parla-Clarin formatted speech data.

[2020-12-22 09:09] ninpnin commented on #1
The validation can be done with the scripts provided by the parla-clarin repo, see https://github.com/clarin-eric/parla-clarin and its [wiki](https://github.com/clarin-eric/parla-clarin/wiki).

[2020-12-22 14:11] ninpnin commented on #1
Managed to implement this with lxml.

[2021-01-06 11:21] ninpnin opened #9 "Finish downloading and converting MP data from Wikipedia"

[2021-01-07 08:35] ninpnin commented on #9
This data: https://sv.wikipedia.org/wiki/Listor_%C3%B6ver_ledam%C3%B6ter_av_Sveriges_riksdag

This tool: https://wikitable2csv.ggor.de/

[2021-01-07 09:48] ninpnin commented on #9
Unicameral period done

[2021-01-07 10:25] ninpnin commented on #9
Done.

[2021-01-07 10:25] #9 closed

[2021-01-07 12:56] ninpnin commented on #2
Done for 1921-2022

[2021-01-07 12:58] ninpnin opened #10 "Classify OCR'd paragraphs into utterance/description/metadata"
Some straightforward ML, utilize freshly annotated train and test sets.

- [x] detect metadata
- [ ] differentiate between speeches and notes/descriptions

[2021-01-08 22:01] ninpnin commented on #6
Done, though needs some refinement.

[2021-01-08 22:01] #6 closed

[2021-01-11 21:01] MansMeg opened #12 "Fix in MP file"
There are now some errors in the MP file that needs to be fixed

- [ ] We need to have dates instead of years for period in parliament
- [x] Some MP names are missing.
- [x] it seems like there are different party names and abbrivation mixed up.
- [ ] Not all MP have their job title.

[2021-01-11 21:02] MansMeg opened #13 "Release version 0.1"
Im not sure if this is done already?

[2021-01-11 21:03] MansMeg opened #14 "Remove marginal notes from speeches"
We need to look for marginal notes etc. and remove those.

I'm not sure how to do that in the best way? Some might be manually removed. But I also guess we could use BERT to identify? Or some simpler method. this should come into the curation database.

Although, they might be useful to add additional metadata on speeches (what debate they are within?)

[2021-01-11 21:06] MansMeg opened #15 "Remove empty tags in segmentation"
Now we have some empty tags that should be removed. Should this be a part of the curation database or just general cleaning?

[2021-01-11 21:06] MansMeg opened #16 "Remove empty tags"
Now we have some empty tags that should be removed. Should this be a part of the curation database or just general cleaning?

[2021-01-11 21:07] #16 closed

[2021-01-11 21:08] MansMeg opened #17 "README in segmentation and curation"
It should probably have a use case and describe what is done? Im not sure. We do not want to end up with legacy documentation.

[2021-01-11 21:11] MansMeg opened #18 "Clean up the repo for additional users"
Before we include additional users with the repo, we should clean it up:
- [x] Sort in code in a subdirectory. In the long run into python and R libraries?
- [x] Focus should be users on the main page. If I want to use the corpus, what should I do?
- [x] If I want to add a correction/contribute (or a ton of them). How do I do?

[2021-01-11 21:37] MansMeg opened #19 "Fix errors and add to curation database"
1. Add the manual curation at line 149 in the example.
"$ 9. Till bordläggning anmäldes:","§ 9. Till bordläggning anmäldes:"
2. Fix all train errors as manually added identified and maybe try to fix multiple errors.

[2021-01-11 21:39] MansMeg opened #20 "Add the digital images to a sister repo using git lfs"
Add a map to images names and images stored in a sister repo

[2021-01-11 21:43] ninpnin commented on #12
This might come in handy: https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_politiska_partier_i_Sverige#Historiska_rikspartier

[2021-01-11 21:47] ninpnin commented on #12
And this: https://sv.wikipedia.org/wiki/Sveriges_regering#Sveriges_minist%C3%A4rer_och_regeringar

[2021-01-11 22:40] MansMeg commented on #12
Indeed!

[2021-01-12 08:18] ninpnin commented on #14
Marginal notes have two distinct characteristics which can be used in their detection:

1) They are distinct in content; a lot of dates, days and certain descriptive words (protocol X on matter Y on Tuesday 6th June 2020)
2) They are repeated multiple times in the document

Currently, I'm using a heuristic which detects short paragraphs with a high proportion of non-alphabetic characters. It picks

[2021-01-12 09:08] MansMeg commented on #14
So how are we going to do this? I guess adding it to be removed in the curation database?

[2021-01-13 09:13] ninpnin commented on #20
https://github.com/welfare-state-analytics/riksdagen-corpus-images

[2021-01-13 09:14] ninpnin commented on #15
Done with general cleaning.

[2021-01-13 09:14] #15 closed

[2021-01-13 09:33] MansMeg commented on #20
Cool. Can you get the images up there with git lfs?

[2021-01-13 09:48] ninpnin commented on #20
I'll calculate a file size estimate before starting the download

[2021-01-13 11:32] ninpnin commented on #20
Github might send some warning emails if we go over 5GB. They say they don't have hard caps but I don't know how the go about crazy bandwidth use in practice.

[2021-01-14 08:47] ninpnin commented on #14
Yes this how it is currently done

[2021-01-14 08:51] MansMeg commented on #14
Great!

[2021-01-14 09:59] MansMeg opened #21 "Add data until today and build a pipeline to add new data"

[2021-01-14 10:00] MansMeg opened #22 "Document how others (the community) should contribute to the corpus"

[2021-01-14 10:24] MansMeg opened #23 "Clarify design points somewhere in the documentation"
Why have we done what we have done?
What is the idea with the instances in the instance database?

[2021-01-14 10:24] MansMeg opened #24 "Look into TEI - can we take som ideas from there to improve this?"

[2021-01-14 10:25] MansMeg opened #25 "Connect the corpus to the research being conducted by Erik Edoff"

[2021-01-14 10:28] ninpnin commented on #21
Duplicate of #4

[2021-01-14 10:28] #21 closed

[2021-01-14 10:29] ninpnin commented on #14
Closing for now

[2021-01-14 10:29] #14 closed

[2021-01-14 10:32] MansMeg commented on #21
Ha ha, sorry. I just add stuff now after our meeting yesterday and my use case! Good that you keep the repo clean!

[2021-01-14 10:33] MansMeg commented on #14
Has it been removed?

[2021-01-14 10:43] ninpnin commented on #14
Most of them are.

This is done by detecting recurring paragraphs and paragraphs with relatively high proportion of non-alphabetic characters.

If all you have is the paragraphs, you'd need some pretty high level NLP to reach >=95%. And I suggest we don't go there yet.

[2021-01-14 10:45] MansMeg commented on #14
Indeed! So all these instances that are removed are now in the database? So we could essentially enumerate all these editions if we want?

[2021-01-14 10:49] ninpnin opened #26 "Extract subsets of the corpora in various formats"
An end user might want to extract subsets from the corpora. I suggest we provide the ability to restrict the scope by
- A year range
- Protocol ID(s)
- Certain MPs
  - Hand-pick MPs
  - Choose all MPs with certain characteristics (eg. party) from the database

It would be natural to provide different output formats for this functionality. Minimally, I'd suggest we provide parla-clarin, and a plain

[2021-01-14 10:51] MansMeg commented on #26
I think this is good. Although maybe not for the beta 0.1?

[2021-01-14 10:56] ninpnin commented on #26
Fair enough. Good to plan before implementing in any case.

[2021-01-14 14:50] fredrik1984 opened #27 "Add gender as metadata to MP speeches"
It should be possible to sort MP speeches by gender (as well as year, party belonging and chamber). I guess this will also require that we have the MP person names to derive gender from some kind of name index?

[2021-01-14 16:32] ninpnin commented on #27
Yes, this can be done by simply adding gender to the MP database. You would indeed need a list of Swedish names by gender, this is what I found https://barnnamn.net/flicknamn-a-o/ https://barnnamn.net/pojknamn-a-o/ ... Better sources are appreciated!

[2021-01-14 17:03] ninpnin opened #28 "Add intermediate files for curated and segmented data"
A corpus is generated by taking the original data, curating it, segmenting it and then outputting it in some format. There are thus three intermediate versions of the data. I suggest these be saved per protocol in original.xml, curated.xml, segmented.xml, in the following schema:

[code]

Curation and segmentation instances would still be logged to some file, so that the logic behind them can be t

[2021-01-14 17:50] fredrik1984 commented on #27
Excellent source haha! But maybe something to begin with

[2021-01-14 17:57] MansMeg commented on #27
I agree. I think we can use those list:
1. Remove names that occur in both list (ambigious)
2. Map with the MEPs first names.
3. Those that are not mapped, just send us a list of the MEPs and we will fix it manually

[2021-01-14 17:59] fredrik1984 commented on #27
Sounds like a good plan to me

[2021-01-15 09:07] ninpnin commented on #27
https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dev/db/mp/metadata/names.csv

[2021-01-15 12:03] MansMeg commented on #27
Cool! BTW we should rename the MP csv to members_of_parliament.csv instead since in the long run, we want to expand this corpus to other time frames.

[2021-01-15 12:46] ninpnin commented on #27
I was able to infer the gender of 8612/10556 MPs with this method.

[2021-01-15 12:54] fredrik1984 commented on #27
Good job! I also guess that the method missed "double names", like Sven-Bertil Anna-Maria etc? And surely MPs with names not don't have a typical Swedish origin

[2021-01-15 13:10] ninpnin commented on #27
Here's the MP database with currently available gender information: https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dev/db/mp/members_of_parliament.csv

[2021-01-15 13:23] ninpnin commented on #12
MP names fixed 👍

[2021-01-15 14:13] MansMeg commented on #27
Great! Could you send me an Fredrik a list with the names without somewhere we can fix the last ones?

[2021-01-15 14:31] ninpnin commented on #12
The dates of the MP terms seem to be elusive, while election days and government terms are relatively easy to find. Should we look more into this or keep no 1 on hold for now?

[2021-01-18 06:51] fredrik1984 commented on #12
Regarding MP terms I think we can keep it on hold for now. It is not the most important metadata for us at the moment.

[2021-01-18 09:15] ninpnin opened #29 "Use party names instead of abbreviations in the MP database"
Some of the party data is currently in an ambiguous abbreviation format.

[2021-01-18 09:17] #24 closed

[2021-01-20 07:54] ninpnin commented on #28
The protocols are now processed in this schema in the data/protocols folder. Here's an example: https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dev/data/protocols/prot-1921--ak--39/original.xml

The intermediate steps are generated from these original files, not saved on disk, and the process still relies on the curation and segmentation databases. Now that the format is harmonize

[2021-01-20 08:00] ninpnin commented on #4
Done until 2001 when the HTML format changed.

[2021-01-20 08:18] ninpnin commented on #12
Following the progress in #29

[2021-01-20 08:18] #12 closed

[2021-01-20 08:19] ninpnin commented on #13
Tracking the milestone instead

[2021-01-20 08:19] #13 closed

[2021-01-20 10:26] ninpnin commented on #22
Close in favor of #18

[2021-01-20 10:26] #22 closed

[2021-01-20 10:40] ninpnin commented on #30
Is this the same as #28 ?

[2021-01-20 14:55] ninpnin commented on #29
Done.

The specifics of which abbreviation yields which party name can be easily changed afterwards if necessary.

[2021-01-20 14:55] #29 closed

[2021-01-21 13:48] ninpnin commented on #4
Done until 2013.

[2021-01-21 14:30] MansMeg commented on #19
The one you demonstrated to me. =)

[2021-01-21 20:14] ninpnin commented on #4
Now the newest format is addressed as well.

[2021-01-21 20:14] #4 closed

[2021-01-22 08:59] ninpnin commented on #32
Are the names of these types static over the years? I.e. can we just match, say, 2-5 terms in the protocols before digitalization?

For the digital originals, there is a static set of metadata, and picking that up should be easy.

[2021-01-22 09:11] MansMeg commented on #32
I actually do not know. I would expect that it might change at least in 1972. But also before that, there might be differences. @fredrik1984 might know this better than me.

[2021-01-22 09:28] fredrik1984 commented on #32
I have not looked into this in detail, but I think it could be difficult to automate this before 1994. We can definitely look into that, but I think it is not the most important metadata to prioritize

[2021-01-22 09:30] MansMeg commented on #32
For me, it is important - although not before 1994. =)

[2021-01-26 15:44] ninpnin commented on #33
Does it need to be somewhat static ? If so, I'm thinking **prot-YYYY--NO-SPEAKER_ID_SPEECH_INDEX**

[2021-01-26 15:48] MansMeg commented on #33
Hi! Yes it is good to have a static and globally unique id. I expect us to use this extensively.

[2021-01-26 17:15] ninpnin commented on #34
Done. https://github.com/welfare-state-analytics/riksdagen-corpus/commit/37948675c976a1e260128ad6cfcb6878916d9c4f

[2021-01-26 17:15] ninpnin commented on #33
Done. https://github.com/welfare-state-analytics/riksdagen-corpus/commit/37948675c976a1e260128ad6cfcb6878916d9c4f

[2021-01-27 10:16] MansMeg commented on #35
Great!

I suggest a paragraph on what we want to do as a usecase. My example:

I want to eftract all speeches from 1994-2020 by speakers party and type of debate (partiledardebatt, interpellationsdebatt etc.). I will run a seeded perspective topic model on the corpus to study the saliency and framing of immigration during the period.

[2021-01-27 12:03] fredrik1984 commented on #35
![image](https://user-images.githubusercontent.com/15212990/105988491-fcaa0700-609f-11eb-8aa3-a6dbe2f26e9b.png)

[2021-01-27 12:04] fredrik1984 commented on #35
Johan and I want to extract all individual speeches from 1920–2020 by speaker’s gender and party belonging. We want to run a LDA topic model on the material to see which topics men and women tend to discuss in the parliament.

[2021-01-27 12:04] fredrik1984 commented on #35
Erik wants to extract all individual speeches from 1920–2020 by speaker’s gender and party belonging. He wants study how the concept “internationell” (and alike) is discussed by party belonging and gender. Regarding methods he will probably want to start with some simpler co-occurrence methods that Roger has implemented in Jupyter. But he would probably also be interested in looking into a topic m

[2021-02-01 17:25] ninpnin commented on #10
First version implemented with FastText word vectors. Paragraph level accuracy ~97% - we'll see if that's enough for research and act accordingly.

[2021-02-01 17:25] #10 closed

[2021-02-01 17:28] ninpnin commented on #19
Currently, you can add rows to https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dev/db/curation/manual.csv . Exact match, exact replacement.

@MansMeg your example is fixed in this commit: https://github.com/welfare-state-analytics/riksdagen-corpus/commit/5dcd98fbe9800cbc3e23c8ca6000a6e8a9cfc557

[2021-02-01 17:28] #19 closed

[2021-02-02 10:08] ninpnin commented on #17
I'll add Wiki pages for these.

[2021-02-02 10:11] MansMeg commented on #17
Sounds good!

[2021-02-02 18:17] ninpnin commented on #18
See wiki

[2021-02-02 18:17] #18 closed

[2021-02-02 18:17] #17 closed

[2021-02-05 13:17] ninpnin commented on #38
For the data, yes. For the code we could add MIT?

[2021-02-05 13:28] MansMeg commented on #38
Ok. Sounds good! MIT and CC-BY also allows for commercial use, right?

[2021-02-05 16:33] ninpnin commented on #28
Closing for now, I don't think saving intermediate on disk is necessary at this point.

[2021-02-05 16:33] #28 closed

[2021-02-05 16:39] ninpnin commented on #31
Current state of CI:
1. Validate the parla clarin example file against the parla-clarin schema
2. Validate one-protocol-long parla clarin corpus generated by our code against the parla-clarin schema

[2021-02-05 16:43] ninpnin commented on #30
The current state of the manual curation is documented in the wiki https://github.com/welfare-state-analytics/riksdagen-corpus/wiki/Submit-corrections

[2021-02-05 18:08] MansMeg commented on #30
Great! I’ll look at it and try it asap.

[2021-02-05 18:26] MansMeg commented on #31
Cool. Maybe easier if you fix the initial CI @ninpnin ?

[2021-02-09 12:52] ninpnin commented on #42
Directly changing the XML files would inevitably make the curations sequential / build on top of previous versions, wouldn't it?

[2021-02-09 13:31] MansMeg commented on #42
Yes. But how do we solve this in the best way? Say that I want to fix some errors. The easiest for me is to correct it in the PR and then do a PR? Because I also want to use the same correct XML file?

Can we extract the corrections from a diff?

[2021-02-09 13:32] ninpnin commented on #31
Considering test case 2 by Måns, the proportions of missing entries are:

name 0.0
party 0.008336491095111784
district 0.03306176582038651
chamber 0.0
start 0.0
end 0.0
occupation 0.7755778704054566
gender 0.18416066691928762
id 0.0

Where should we set the bar?

[2021-02-09 13:55] ninpnin commented on #42
Yes, but there would need to be some restrictions to that, for example "no edits can add or remove paragraphs". That might be trivial or difficult, I'm not 100% sure.

[2021-02-09 14:48] MansMeg commented on #42
Sure. I think we should focus on making it easy for people to curate and add corrections.

[2021-02-09 15:09] ninpnin commented on #42
Another way to allow orthogonality would be splitting the protocols into multiple files, and then building solely on top of those files.

[2021-02-09 15:59] MansMeg commented on #42
Yes. But can that be done in a reasonable way? I guess a protocol is the smallest unit?

[2021-02-09 16:07] ninpnin commented on #42
The division into text areas is very consistent, that could be used. But then it starts to be a looot of files, ~3-4x of the total page count.

[2021-02-09 16:49] ninpnin commented on #42
It created a test repository for this approach. 1.5M files. Git status, add and commit took maybe 3-5 seconds each.

[2021-02-09 18:13] MansMeg commented on #42
Hmmm. Yes, that seem to be too much. I guess protocoll is the smallest unit. Any other ideas how to get a good pipeline? The goal is twofold:
1. Make it easy to contribute
2. Make it easy to check a contribution (ideally through CI)
3. Make it traceable to the original files

Maybe the simplest is just to go even further. Just have code to generate the final files and the parlaclarin files. Then w

[2021-02-12 11:45] ninpnin commented on #41
Define and document the criteria for pull request acceptance.

[2021-02-15 09:23] MansMeg commented on #31
Add testsuite that chacks that MEP only have speeches during the period where they are actually active in parliament.

[2021-02-15 09:27] ninpnin opened #47 "Members of parliament do not match Riksdagens data"
For example, [Krister Skånberg](https://www.riksdagen.se/sv/ledamoter-partier/ledamot/krister-skanberg_0110409174800) is missing from members_of_parliament.csv .

[2021-02-18 12:24] ninpnin commented on #31
I added parla clarin validation. Now for a pull request, all changed and added XML files are tested against the Parla-Clarin schema. See #52

[2021-02-19 15:50] ninpnin commented on #42
Implemented protocol-by-protocol.

[2021-02-19 16:19] ninpnin commented on #31
I added a test that checks that the name, party, district, chamber, and id columns have over 95% of the entries present.

[2021-02-19 17:02] MansMeg commented on #31
Great! I think ID and Name need to be 100%?

[2021-02-19 17:11] ninpnin commented on #31
Fixed.

[2021-02-19 18:10] MansMeg commented on #31
Great! I updated the comment to capture the issues we listed here so we know when the issue is done. One of your tests, I didn't really understand.

[2021-02-22 09:56] #26 closed

[2021-02-22 14:09] ninpnin commented on #57
Is this 0.2 or 0.3?

[2021-02-22 14:11] MansMeg commented on #57
Oh! Sorry, its 0.3

[2021-02-23 10:35] ninpnin commented on #20
I'm in the process of adding <pb> page begin elements with links to betalab images. I don't think we want to add images on GitHub.

[2021-02-23 10:35] #20 closed

[2021-02-23 10:37] ninpnin commented on #53
Apparently this is not applicable to the full time frame of the corpus.

[2021-02-23 10:37] MansMeg commented on #20
Agree!

[2021-02-23 14:39] ninpnin commented on #31
Added a test that checks the validity of one protocol per type (ak, fk, ek, digital originals)

[2021-02-23 14:53] ninpnin commented on #31
The last test case would necessitate running it on all protocols, right? That sounds a bit unattainable.

[2021-02-23 14:59] MansMeg commented on #31
Why not run on all protocols? How much time would such a test take?

One solution would be to run those test only in a test branch and the main branch if it takes a long time? I mean it doesn't matter to us if it runs for an hour?

[2021-02-23 16:01] ninpnin commented on #31
Good news: I actually overestimated the time this test would take, it's actually only a minute or so. Bad news: there are some 30 protocols with wrongly tagged MPs.

[2021-02-23 16:18] MansMeg commented on #31
Thats good news! Then we have found a bug!

[2021-02-24 10:37] ninpnin commented on #31
Fair enough!

All of the planned CI tests are now implemented, by the way.

[2021-02-25 13:33] ninpnin commented on #23
The Wiki landing page is now up to date with the project, and explains the design choices. Link: https://github.com/welfare-state-analytics/riksdagen-corpus/wiki

[2021-02-25 13:33] #23 closed

[2021-03-01 12:19] ninpnin commented on #30
Documented in the Wiki.

[2021-03-01 14:22] MansMeg commented on #27
Has this been done by Felix now?

[2021-03-01 14:24] MansMeg commented on #35
Miriam want to follow a set of words (nedsättande and vardagliga) over time from say 1995 ish by party and year.

[2021-03-01 14:45] ninpnin commented on #67
Fair points. What's the priority of this?

[2021-03-01 14:45] ninpnin commented on #27
Yes, but not merged yet. Status in #66

[2021-03-01 15:02] ninpnin commented on #39
I guess equivalent functionality is implemented in #59 ?

[2021-03-01 15:03] ninpnin commented on #60
I suggest we generate a new id for each new ```<u>``` tag, and preserve the old one in other cases.

[2021-03-01 15:07] ninpnin commented on #55
Are these usually included as margin notes?
Parla Clarin example https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dev/data/new-parlaclarin/prot-198081--43.xml#L243
Associated image scan https://betalab.kb.se/prot-198081--43/prot_198081__43-003.jp2/_view

[2021-03-01 15:08] MansMeg commented on #67
I think it is good to get it in place quite early since people might start to build based on our paths.

[2021-03-01 15:10] MansMeg commented on #27
Ah! Great!

[2021-03-01 15:16] MansMeg commented on #60
That sounds like a good solution to me. Is this issue solved now? Or do you need to do anything?

[2021-03-01 15:21] ninpnin commented on #46
The data is available form 1990 onwards as a nice CSV file. Should we rather directly use that?

[2021-03-01 15:22] ninpnin commented on #60
I'll let you know when I get this one implemented.

[2021-03-01 15:59] MansMeg commented on #46
Does it have all the info we want? Then yes.

[2021-03-01 16:00] ninpnin commented on #46
Here's the file #68

[2021-03-01 16:01] ninpnin commented on #46
There are some missing values.

[2021-03-01 16:01] MansMeg commented on #55
Im not sure that they are always included as margin notes, but in some debates they are.

[2021-03-01 16:05] MansMeg commented on #46
Yes. I guess we dont need phone number email and similar. But the other stuff seem reasonable.

Im not sure about the uppdragsroll either.

[2021-03-01 16:23] ninpnin commented on #55
Then I'm wondering if there's a heuristic for finding them. Maybe a number and this symbol § . Otherwise more annotation is needed.

[2021-03-01 17:04] MansMeg commented on #55
Yes. I think we would need annotation fir this. Although for debates 1993- they should be included?

[2021-03-01 20:32] MansMeg opened #69 "Incorrect README?"
This is now where the protocols are: - Annual protocol files under ```data/protocol/```
They seem to be here: ```data/protocol/new-parlaclarin```

I guess we want to make this more explicit. Im not sure about the other contents in the protocols folder?

[2021-03-01 20:47] MansMeg opened #70 "example file in the folder of protocols"
Hi!

I found that there exists a "data/new-parlaclarin//example.xml"? I think we want to move out the examples to a separate folder so it si clear fo users that the data is contained in one folder.

[2021-03-01 21:35] ninpnin commented on #69
I actually think the protocols could have a dedicated ```corpus``` folder. Gotta check what scripts I need to update.

[2021-03-01 21:43] MansMeg commented on #69
Yes. That sounds like a good idea. I found it to be slightly confusing to find the right folder. So I think we should have one folder that contain all data of interest (maybe data) and move out examples etc.

Also, maybe already in the README point to documentation on what each file contain. Im still not sure. Is each file a protocol now? I looked at file 11000 and then it seemed like the date was

[2021-03-01 21:46] ninpnin commented on #69
The code defaults to Jan 1st if there no dates are matched.

[2021-03-01 21:56] MansMeg commented on #69
Alright. We should probably rather marknit as missing value then. Otherwise it will be confusing when using the data. Is that consistant with the xml schema?

[2021-03-01 22:12] ninpnin commented on #69
Apparently, the year is enough: https://tei-c.org/release/doc/tei-p5-doc/en/html/ref-docDate.html

[code]

[2021-03-02 13:11] ninpnin commented on #69
README fixed.

[2021-03-02 13:11] #69 closed

[2021-03-02 13:15] ninpnin commented on #70
Other files were moved to ```corpus/``` in the project root

[2021-03-02 13:15] #70 closed

[2021-03-03 09:17] fredrik1984 opened #73 "Fix incorrect tagging of seg note related to margin layouts"
Over time, the parliamentary protocols change layout structure, and as they do so does the layout of margin notes. Regularly, margin notes are thus tagged as speech text and not as metatexts. This needs to be fixed.

[2021-03-03 11:10] ninpnin commented on #74
This is an important issue. Do we know which years are affected, or how large a proportion of the speakers is misclassified?

A technical note: I think we need to add a 'location' column to the MP database, rather than trying to come up with some ad hoc algorithm.

[2021-03-05 13:16] ninpnin commented on #67
Done.

[2021-03-05 16:38] ninpnin commented on #43
Done / to be finished in #76

[2021-03-06 10:18] MansMeg commented on #78
Ah! Sorry! I think I see my mistake. It is nested right? So the utterance after the speaker tag is always the whole speech?

[2021-03-08 08:47] ninpnin commented on #79
Personally, I think one should mostly avoid nested folder structures. Oftentimes, they just end up being more confusing.

That being said, some of the folders could be reorganized. The distinction between data and db is redundant now, segment-classifier is actually a data folder containing the classifier model. I'll make some changes and keep you updated in this thread.

[2021-03-08 08:51] ninpnin commented on #79
<img width="928" alt="Näyttökuva 2021-3-8 kello 9 50 41" src="https://user-images.githubusercontent.com/10169469/110297462-cbecb400-7ff3-11eb-86e6-56f57a58cdca.png">

Here's the current file structure in dev for reference.

[2021-03-08 11:09] ninpnin commented on #81
As this is a transcriber reference and not a quote per se, you could lump this in with other <note>s.

The Parla-Clarin spec provides the rather specific categories <vocal>, <kinesic> and <incident>, though. We don't automatically generate these (we'd probably nee more data to be able to classify them), but if we want to, we can let people add them.

[2021-03-08 11:57] ninpnin commented on #81
Edit: now the tags should be visible and the comment should make a lot more sense.

[2021-03-08 13:22] ninpnin commented on #81
From the documentation:

```<vocal>``` marks any vocalized but not necessarily lexical phenomenon, e.g. laughter, sounds of (dis)agreement from the benches etc.
```<kinesic>``` marks any communicative phenomenon, not necessarily vocalized, for example clapping, a gesture or frown, etc.
```<incident>``` marks any phenomenon or occurrence, not necessarily vocalized or communicative, for example inci

[2021-03-08 13:58] MansMeg commented on #81
Ah alright. So this would be kinesic. How would I tag this in the XML?

[2021-03-08 14:12] MansMeg commented on #79
So what is your alternative to my suggestion on the folder structure above? The main focus should be on the users. Now it is quite confusing where to find the corpus and the data.

I think we want to fix this asap so we can let others into the corpus (such as Miriam).

[2021-03-08 14:45] ninpnin commented on #81
[code]

[2021-03-08 14:53] ninpnin commented on #79
If we just say all relevant data is in ```corpus``` , the python package is in ```riksdagen_data``` and the R package is in ```rpackage``` .

Additionally, there will be a corpus zip download  under the releases section.

[2021-03-08 14:57] MansMeg commented on #79
Sounds good. Althouth, it is not very intuitive that the python library is in riksdagen_data?

So what would be your full folder structure suggestion?

[2021-03-08 14:57] MansMeg commented on #81
And what would work with seg before and arter as well, right?

[2021-03-08 16:07] ninpnin commented on #79
Merge db and data, and  move segment classifier in it

[2021-03-08 16:08] ninpnin commented on #81
You'd need to end the previous ```<u>```, put the ```<kinesic>``` in between and start a new ```<u>``` after it
.

[2021-03-09 17:00] ninpnin commented on #79
![Screenshot from 2021-03-09 17-59-14](https://user-images.githubusercontent.com/10169469/110508389-3fc8b280-8101-11eb-8687-79bdcda5b088.png)

I'd say the structure is pretty self-explanatory now.

[2021-03-09 17:02] MansMeg commented on #79
Please close this issue when you merge.

[2021-03-11 08:01] MansMeg commented on #85
Ok. I think it is important that we see this as a curation as well (i.e. fix incorrect page beginnings). I.e. we to do this in a way that preserves done curations (even though they are small). We could see this as an example of a large automated curation of incorrect page beginnings?

[2021-03-11 08:06] MansMeg commented on #85
Also, I guess we want to define these notes as well? That they come after a segment or utterance? Can they exist within an utterance?

[2021-03-11 08:45] ninpnin commented on #85
We've kinda lost the original information at this point. You could try to pick up the page numbers from the text but that would be prone to errors.

[2021-03-11 09:04] MansMeg commented on #85
I was more thinking that if you rerun the Parla-Clarin to OCR but only add the new page number notes to the documents?

I think we will run into a similar problem multiple times along the way. Then we will not be able to solve it by recreating the corpus. Hence, I think we should rather see this as a test case for what we would do if this would have happened 2 years down the line.

[2021-03-11 09:10] ninpnin commented on #85
With all kinds of stitching and patching...

All content is already included, the order's just incorrect. But since Parla-Clarin has a somewhat semantic stucture, you can't just reorder the blocks. Furthermore, you'd need to match the blocks from the original source and Parla-Clarin if you wanted to refetch the order.

[2021-03-11 09:45] MansMeg commented on #85
Ok. Can we do it smarter somehow? Can we identify which notes are incorrect?

[2021-03-11 10:09] ninpnin commented on #85
I think we don't want to build a separate apparatus for that. On top of that, we had a plan of getting rid of the extra git history at some point before the actual release. The repo is approaching 20GB even though the actual data is just 4GB or so.

I suggest:

- I'll rerun the pipeline
- I'll manually check roughly 20 pages and see that no content blocks are missing, and that everything is in cor

[2021-03-11 10:10] ninpnin commented on #85
After all, the requirements are not too high.

- All paragraphs are included on the page
- No extra paragraphs are on the page
- The paragraphs are in correct order

[2021-03-11 10:13] MansMeg commented on #85
Alright! Fair enough. Then 0.2 is the starting point essentially. that seems like a good solution.

Then, if I understand you correctly, from this point on, we only curate the original corpus?

Can you extract the manual curations we have done so far using the notes? And then add them afterwards?

[2021-03-11 10:18] ninpnin commented on #85
There are only a few, but yes they can be extracted from the current corpus.

[2021-03-11 10:52] MansMeg commented on #85
Great!

Then I understand this as we reboot the corpus for version 0.2 but ad the current manual annotations that have been done.

/Måns

[2021-03-11 20:55] MansMeg opened #1 "Move over issues and wikis from old repo"

[2021-03-11 20:57] MansMeg opened #2 "Setup test suite on new corpus"

[2021-03-13 19:17] MansMeg opened #30 "Add period dates to the MP files"
Now we only have years in the MP file. This make it tricky to check exact periods when we can expect speeches.

hence we would like to add the exact starting and ending dates of all MPs.

Here are the general rules:
https://sv.m.wikipedia.org/wiki/Mandatperiod

[2021-03-16 18:07] MansMeg opened #31 "Cross-check MP data with Riksdagens öppna data"
We should cross-check the gender, party etc with riksdagens öppna data. Here:
https://data.riksdagen.se/data/ledamoter/

[2021-03-17 15:44] MansMeg opened #32 "Setup structure to include/connect annotated material to our corpus in a structured fashion"
In the longer run, I think more and more people would like to include annotated data for the Swedish parliamentary corpus. In the long run

1. [Natural Language Annotation for Machine Learning](https://www.oreilly.com/library/view/natural-language-annotation/9781449332693/) states that we should keep annotations separate from the main corpus, so probably we need to find a way to make stable connec

[2021-03-22 08:06] MansMeg opened #33 "Move software out from the data repository"
I think we discussed that in the long term we would like to move the software used for the corpus out from the actual corpus. Maybe either have a joint repo for R and python tools or one separarate for python and R?

Somethin like:
welfare-state-analytics/riksdagen-corpus-r-package
?

[2021-03-23 14:35] #2 closed, assigned to nobody

[2021-03-23 14:36] ninpnin commented on #9
Current status: Waiting for a reply from Martin.

[2021-03-23 15:18] #1 closed, assigned to nobody

[2021-03-23 15:21] ninpnin commented on #12
Duplicate of #13

[2021-03-23 15:45] mhbodell opened #34 "strange docDates"
There are some docDates that are strange, example files:

                   docname
1  prot-1939-urtima-fk--30
2  prot-1940-urtima-fk--20
3        prot-1942--ak--20
4         prot-1946--ak--9
5        prot-1947--ak--36
6        prot-1947--fk--17
7        prot-1949--ak--15
8        prot-1949--fk--13
9        prot-1950--fk--18
10       prot-1954--ak--22
11       prot-1956--ak--20
12      prot-1958-

[2021-03-23 15:52] ninpnin commented on #34
AFAIK some of the protocols do span multiple days.

Some of these are erroneous, though. I checked prot-1942--ak--20, which has this block in it, explaining the weird date:

[code]

the proper date can be seen in another text block in the same protocol:

[code]

I guess this is an OCR error.

[2021-03-24 09:02] MansMeg commented on #16
We can use kinesic tag or note.

[2021-03-24 09:03] #31 closed, assigned to nobody

[2021-03-24 09:03] MansMeg commented on #13
We should cross-check the gender, party etc with riksdagens öppna data. Here:
https://data.riksdagen.se/data/ledamoter/

[2021-03-24 10:42] MansMeg commented on #18
Here are the different tasks we need to fix:
- [ ] Add name in parliament to the MP file. Although MPs can have multiple names in parliament during different sessions and if they become part of the government. So Maybe add this as a separate file.
- [x] Extract those introductions that cannot be identified with a simple regexp from the name in the parliament. This list would probably need manual c

[2021-03-24 10:43] MansMeg opened #35 "To improve quality of segmentation - check notes containing "vi" or "jag""
This is a quick manual check to curate notes that should be speeches.

[2021-03-24 12:20] MansMeg opened #36 "Off-by-one errors in page numbers"
just checking: tagged page numbers not always match with actual page numbers, but it is the tagged one's we check? an exampel: <pb n="153" facs="https://betalab.kb.se/prot-1922--fk--37/prot_1922__fk__37-153.jp2/_view"/>    <note n="48f9b2fb">    Nr 37.    </note>    <note type="date" n="98919e5b">    154 Onsdagen den 24 maj e: m.

[2021-03-24 12:21] ninpnin commented on #36
I'm not sure if we want to change this, it's the same indexing schema as at betalab after all.

EDIT: Though we might want to communicate this upstream.

[2021-03-24 12:28] MansMeg commented on #36
Ok, that is strange. So are beta lab also off by one error with respect to the physical copies? From a textual representation error perspective, we should try to stay close to the actual page numbers in the protocols.

[2021-03-24 12:28] MansMeg commented on #36
Yes, we should probably communicate this with KB-lab - although I guess this issue is of lower priority right now.

[2021-03-24 12:53] ninpnin commented on #36
It's rather the inconsistent page numbering of the actual protocols – the first page might not be numbered, some other (meta) pages might not have numbers

[2021-03-24 12:54] MansMeg commented on #36
Oh. ok. Lets then take this discussion with Johan and Fredrik. What they think we should do.

[2021-03-24 13:18] ninpnin commented on #36
Hmm. I just went through a couple of different protocols. I realized I might be misremembering, since those protocols had page numbers also on the table of contents pages.

[2021-03-24 13:24] MansMeg commented on #36
Ok. Then I suggest we add the correct page number, as also was proposed by Johan. Hence the correct page number (the same as the printed one) and the betalab link.

[2021-03-24 14:48] ninpnin commented on #36
I think we can fix most of these by just starting indexing from 1. That should be a very quick and easy fix.

[2021-03-25 06:51] fredrik1984 opened #37 "Tag different speech categories"
There are different speech categories in the Swedish parliament: interpellationsdebatt, partiledardebatt, anföranden etc. There are also other kinds of categories that perhaps should be tagged as a speech, but perhaps not. For example, "Meddelanden ang enkla frågor", which seems to be written questions from mp that are read out loud by the speaker of the house (?).

How to deal with these speech c

[2021-03-25 06:53] fredrik1984 opened #38 "Speaker tag before note"
In the xml files, sometimes a speaker tag comes before a note. Is this correct?  Shouldn't speaker only be tagged in relation to seg?

[2021-03-25 07:08] MansMeg commented on #37
I actually do not know how to add this metadata right now. Maybe have a separate CSV for this kind of information? Although, these categories are important for analysis in the long run.

[2021-03-25 07:09] MansMeg commented on #38
Can you copy in an example?

[2021-03-25 07:14] fredrik1984 commented on #38
<pb n="22" facs="https://betalab.kb.se/prot-1964--fk--23/prot_1964__fk__23-022.jp2/_view"/>
          <note type="date" n="fce40d6c">
            Tisdagen den 12 maj 1964
          </note>
          <note n="cf5564f3">
            m, m., jämte i ämnet väckta motioner, såvitt propositionen och
            motionerna avser medelsanvisning.
          </note>
          <u who="gosta_skoglund_8feb36" x

[2021-03-25 07:53] fredrik1984 commented on #37
Agree, this issue is not a prioritized issue, but something to keep in mind.

[2021-03-25 09:17] MansMeg commented on #38
That seem to be incorrect.

[2021-03-25 14:30] Stubbendorff opened #39 "Missing MP:s in the metadata"
List of speakers found in the corpus but not in _members_of_parliament_.
- [ ] Gustav Andersson (1945)
- [ ] David Norman (1945)
- [ ] Karl Wistrand (1945)

[2021-03-25 14:44] ninpnin commented on #39
Which chamber did they sit in?

[2021-03-25 14:47] Stubbendorff commented on #39
Andersson in the second, Norman and Wistrand in the first.

[2021-03-31 08:39] MansMeg opened #40 "Solve the issue of name in parliament"
We need to have a file that contain maps from names in parliament to individual speakers in parliament. Hence we can have multiple names in parliament for the same member of parliament. This can also change over time.

A suggestion is. a csv with columns:
speaker_id, name_in_parliament, period_start, period_end

@ninpnin any thoughts?

[2021-03-31 08:41] MansMeg opened #41 "Improve mapping between intros and MP metadata"
There is currently a lot of unknown maps between names in parliament and actual MPs. We should list those missing names in parliament and go through them in increasing order.

@ninpnin any thoughts?

[2021-04-21 06:46] ninpnin commented on #18
We got a 100% precision and an 88% recall on the sample. Ie no non-introductions were labeled as such, and 88% of the introductions were labeled correctly.

[2021-05-26 07:14] MansMeg opened #42 "Setup a file for to the curatior to go through and map names in parliament to MP ids"
- [x] Väinö will test tesseract to extract as much as possible
- [x] Väinö will setup the file to be manually curated
- [ ] Curator will manually improve the names in parliament file

[2021-05-26 07:20] MansMeg opened #43 "Add Twitter information on individual MPs as meta-data"
http://makthavare.se/2018/09/19/kartlaggning-har-ar-riksdagsledamoterna-pa-twitter-2/

[2021-05-26 07:31] MansMeg opened #44 "Draw a new sample and estimate quality of the corpus"
We want to estimate the overall quality of the corpus.

- Speech segments and notes
- Identification/introductions to MP meta-data

[2021-05-26 07:38] MansMeg opened #45 "Riksdagen corpus paper"
- [ ] Do a litt review
- [ ] Setup a disposition of the paper

New ideas:
- using git to separate manually curation and automated curation
- quality estimation using random sampling

References:
http://ftp.cs.utoronto.ca/cs/ftp/pub/gh/Beelen-etal-CJPS-2017.pdf
https://journals.sagepub.com/doi/pdf/10.1177/2053168019838352
https://www.aclweb.org/anthology/2020.parlaclarin-1.2/
https://www.aclweb.org

[2021-05-26 07:48] MansMeg opened #46 "Create a structure to automatically update the corpus every year with new paralimentary data"

[2021-05-31 12:31] MansMeg commented on #43
https://github.com/peterdalle/swedishtwitter

[2021-05-31 17:15] fellennert commented on #43
I'm currently joining together the two lists (i.e., the one from the Git repository and the member meta-data one). One thing that bothers me is that party names change over the years. For instance, from 2006--2010 it's "Miljöpartiet de Gröna" and thereafter it's "Miljöpartiet de gröna" (lowercase g), 2014 it becomes Miljöpartiet. For joining the tables together, this is tedious. I can imagine that

[2021-05-31 19:52] MansMeg commented on #43
I think it sounds like a good idea. What do @ninpnin say?

[2021-06-01 10:03] ninpnin commented on #43
We have already done the same thing for other parties. I think the work should be finalized

[2021-06-01 10:05] ninpnin commented on #43
Though we use harmonized versions of the full names (Miljöpartiet de gröna, Miljöpartiet -> Miljöpartiet) now?

[2021-06-01 11:56] MansMeg commented on #43
? Sorry, I dont understand.

[2021-06-01 13:26] fellennert commented on #43
I fixed it now with the abbreviations @Stubbendorff suggested. See discussion in #47 .

[2021-06-05 10:06] MansMeg opened #48 "Include the manual annotated data in the corpus"
We have now made multiple manual annotations of the introductions. We have identified some error in these random samples. These should be included in the corpus as manually curated. Hence it would become a way to get a random sample of ground truths that should be checked if automated curation of introductions are made.

[2021-06-05 10:16] MansMeg commented on #48
We need to find a way to include these changes of the actual introductions as manually curated. Both the corrected errors, but also the already correct ones. If we would drae a new sample and would get already curated inteoductions, we should be able to see that and skip that whole page.

I’m not sure how we should be able to do that in a good way. We have manually curated a whole page, but only w

[2021-06-07 13:08] fredrik1984 opened #49 "Classify written questions"
In the parliamentary protocols there are not only speeches but also written questions, often formulated by MPs addressing a particular minister. These are called things like "Allmänna frågor", "Anmälan av interpolation" etc. I don't if these are read out loud in the Parliament or if they are just answered by a speech. Either way, we must decide how to handle these questions.

[2021-06-07 14:54] MansMeg commented on #49
Indeed. I know that they exist in the speeches from 1991. Maybe check how they are handled there?

[2021-06-07 14:57] Stubbendorff commented on #49
it's not always obvious that they are "written" - some could be spoken.

[2021-06-09 07:23] ninpnin commented on #18
We are now over 90% accuracy.

[2021-06-09 07:28] ninpnin opened #50 "Include guest speakers in the metadata"
Currently, some speakers, such as government members or guest speakers are not included in the MP database. We need to add them and their metadata.
- [x] Government members
- [x] Speakers of the house
- [ ] Guest speakers

[2021-06-09 07:35] ninpnin commented on #41
Currently, there are a lot of instances where multiple people are matched per intro. For instance __Herr Johansson i Älvsjö__ might match all _Johanssons_ and thus the speaker is undetermined.

We need to address this, among other issues in the MP metadata connection. The aim is at 90% accuracy or more, which will be validated by drawing a random sample of pages.

[2021-06-09 07:36] ninpnin commented on #40
Part of #41

[2021-06-09 07:36] #40 closed, assigned to nobody

[2021-06-09 07:47] ninpnin opened #51 "Include birth year in the MP metadata catalogue"

[2021-06-09 12:05] MansMeg commented on #45
Here are some thoughts on what we want to include in the paper:

Tentative title: Constructing an agile research corpus: The example of the Swedish parliament

Background:
Many corpora are constructed once and then released.
Benefits:
- Simplifies comparisons
- Require less storage
Cons
- It is difficult to improve continuously (and fix errors)
- It require us to download the whole corpus if a new

[2021-06-09 12:36] MansMeg opened #52 "Document relevant parts of the corpus"
We now need a simple way for other researchers (and ourselves) to understand the corpus. We hence need to document the basics before we release it. I guess we want to keep the documentation in the Wiki. I think we need to do the following:

- [x] Add information in the README on where to find the documentation of the corpus
- [x] Document the URL to KB-labb that now is included. How can these page

[2021-06-11 16:23] fredrik1984 commented on #49
I asked Ann Larsson (manager of the protocol writing unit at Riksdagen) about "Allmänna frågor", "Anmälan av interpolation" etc. This is her answer:

"Dina klipp verkar vara från just anmälningstillfället och då säger (anmäler) tjänstgörande talman enbart till exempel ”en interpellation och två skriftliga frågor har inkommit”, liksom man med bordläggning av ärenden enbart säger ”till bordläggning

[2021-06-12 08:56] MansMeg commented on #49
Great work @fredrik1984 ! Yes, I think this is important to look into. I will change the issue title to reflect this. Also, I agree this is not 0.3.

[2021-06-12 08:58] MansMeg commented on #49
Although, we can estimate how large this problem is. How many such cases did we see in the last batch?

[2021-06-16 07:15] MansMeg commented on #13
Double-check the already existing variables in the MP csv file.

[2021-06-16 07:18] MansMeg opened #53 "Add additional variables to the MP file"
http://data.riksdagen.se/data/ledamoter/

- [ ] Born (född)
- [ ] Title (titel)

This probably needs a separate files
- [ ] Uppdrag i riksdagen (uppdrag)

[2021-06-16 07:46] #36 closed, assigned to nobody

[2021-06-16 07:47] MansMeg opened #54 "Connect duplicated parliamentarians"
Now we might have multiple entries of the same parliamentarians in the MP database.

We should go through the list and combine the same persons as one entry in the database.

[2021-06-16 07:57] MansMeg commented on #41
- [x] Fix a majority of the unknowns computationally @ninpnin
- [x] Annotate a first 5 pages per decade - sample with true connections to MP @rbbby
- [ ] List the unique introductions with unknown so we can start with manually fixing issues that have a larger effect on the corpus.
- [ ] Fix the rest of the unknown manually by decade
- [ ] Draw a random sample and manually check the connections bet

[2021-06-16 08:07] MansMeg opened #55 "Improve notes and seg"
We want to improve the notes seg quality.

- [ ] Draw a random sample of pages and manually check the `<seg>` and `<notes>`

[2021-06-16 08:27] MansMeg opened #56 "Fix error on names that has been split up"
For example: `Talmannen MAGNUS- SON`

[2021-06-16 08:29] MansMeg commented on #55
Also see #35

[2021-06-23 07:18] MansMeg opened #57 "Solve the issue with non-MP speakers in the parliament"
Now non-mp talks in the parliament, such as the king, Junilistan and FI EMP that speak in the parliament. Also ministers in the government.

These need to be included in a separate files, such as the MP list but with a different structure.

[2021-06-23 07:37] MansMeg commented on #48
If we tag a line in the parla-Clarin as n="manual" we assume that that whole line is 100% correct.

[2021-06-23 07:57] MansMeg opened #58 "Create a python library for reading and writing parlaClarin format"

[2021-06-24 07:20] fredrik1984 opened #59 "Deliver a Parla-Clarin corpus of debates 2015–2022 to Maciej Ogrodniczuk"
Teo wmails from Maciej 2021-06. This should be delivered sometime in 2022. In return he and his Polish colleague can have a look at our tagged corpus.

Email 1:

Dear Fredrik,

we are now thinking about the follow-up of ParlaMint project (https://www.clarin.eu/content/parlamint) which has ended in May. This time we wanted to already put in the proposal the list of languages/people interested in jo

[2021-06-24 13:15] MansMeg commented on #59
I think we could start out this autumn and just give them the Parla-Clarin format as of now. Then we can see how much work it would be to convert. Maybe we might go for the ParlaMint format ourselves as well if it is more specific than the ParlaClarin format?

[2021-06-28 06:21] fredrik1984 commented on #59
Sounds like a plan!

[2021-06-30 07:21] MansMeg commented on #13
- [x] Lägga till riksdagens öppna data ID
- [ ] Kolla vilka som finns i RÖD men ej i RC: Lägg till dem i RC om de är riksdagsledamöter
- [x] De som finns i RC men ej i RÖD: Kolla att de var riksdagsledamöter. Vad kan felet bero på?
- [x] Summarize conclusions and what we have done in a short one-page document we can add to the corpus
- [x] List spelling errrors in RC in a file we can use to correc

[2021-07-07 09:11] MansMeg commented on #42
To clarify this issue a little further:

There is an interest to make this connection language independent. Hence, I might want to use these mappings also from R. Hence it make sense to make this mapping as a CSV-file or similar so it can easily be used for mapping purposes.

An example of a structure would just be
[code]

We could also try to handle spelling errors in the data. Although I'm not s

[2021-07-07 09:14] MansMeg opened #60 "How to handle curation of dashes (eg. MAGNUS- SON)?"
We now have (-) that can cut parts in the text. For example:
"Talmannen MAGNUS- SON"

When we analyze our corpus we would like to have this corrected. The question is how we define the corpus with regard to this? Is this what we should have in the original Parla-Clarin format and help people correct it, or should we remove this kind of typographic errors (for example between pages) in our final co

[2021-07-07 09:46] MansMeg opened #61 "How to handle persons with multiple entrances in the MP file?"
@rbbby has identified that we have multiple entrances for the MPs in the MP CSV-file. We should probably move this out to a better (normalized) database structure with separate tabels for different things. One table for the actual individuals (with person_IDs) and then move out the election periods they are in the parliament, the positions (titles) in the parliament, the name used in the parliamen

[2021-07-13 12:43] ninpnin commented on #41
The annotation classifies the intros into three categories

Correctly tagged:
[code]

Incorrectly tagged
[code]

Unknown
[code]

The latter ones are relatively easy to find computationally, the first two need to be annotated by hand.

[2021-07-14 07:30] ninpnin opened #62 "Spelling errors in MP names"
Find a way to deal with the 40 or so spelling errors that occur in MP csv file.

[2021-07-14 07:34] rbbby commented on #57
Margot Wallström was found in the members of parliament dataset and she does not seem to have been a ledamot.

[2021-07-16 11:40] ninpnin commented on #58
A repository for the code only now exists here: https://github.com/welfare-state-analytics/pyriksdagen. It is possible to include it as a subrepository in this repo, so that we can have the newest version here and in the main repo too.

[2021-07-16 12:12] MansMeg commented on #58
This is great, but should we not call it pyparlaclarin instead?

[2021-07-16 12:13] MansMeg commented on #58
I think it is great if we would make it more general so others could use it as well?

[2021-07-16 13:17] ninpnin commented on #58
Yeah. So the roadmap looks something like this:

- [ ] Do the necessary refactoring in the data repo: change code names to pyparlaclarin and so on
- [ ] Remove the code from the repo, add a reference to this
- [ ] Upload to PyPi
- [ ] Inform the Parla-Clarin project of our existance

[2021-07-16 14:15] MansMeg commented on #58
Yes! I think this is really good!

[2021-07-21 07:20] rbbby opened #64 "Add missing ledamöter to MOP from Riksdagens öppna data"
There are 100~ ledamöter in Riksdagens öppna data that have not been found/are not present in MOP.
Check if they are present in MOP but have not been matched and match them in that case. Otherwise add them to MOP.

[2021-07-22 16:44] ninpnin commented on #52
The quality control part is documented in the [Wiki](https://github.com/welfare-state-analytics/riksdagen-corpus/wiki/Quality-control) now.

[2021-07-23 12:51] ninpnin commented on #52
I also wrote some documentation on automated testing, continuous integration and the hashing system for differentiating manual and automatic curations. It's in the [Wiki](https://github.com/welfare-state-analytics/riksdagen-corpus/wiki/Continuous-integration-and-automatic-tests), too.

[2021-07-29 08:38] ninpnin commented on #52
I added a short description of the Betalab links to the _Parla-Clarin Cheat Sheet_ part of the wiki.

[2021-07-29 08:38] #52 closed, assigned to nobody

[2021-07-29 09:41] ninpnin commented on #60
Fix merged to _mp_.

[2021-07-29 09:41] #60 closed, assigned to ninpnin

[2021-08-11 12:17] MansMeg commented on #61
@rbbby has some code to do this relatively quickly. But since we need some quality control for it as well.

[2021-08-11 12:22] MansMeg commented on #41
After discussion:
@ninpnin will try to fix the obvious error sources found in the subsample by @rbbby
then when done, a new subsample will be drawn

[2021-08-11 12:24] MansMeg commented on #42
This is related to #61 we should merge the two issues.

[2021-08-11 12:31] MansMeg commented on #55
@ninpnin has gotten a result of 0.9 on the paragraph level in the corpus.

[2021-08-11 12:31] #55 closed, assigned to ninpnin

[2021-08-11 12:50] MansMeg commented on #48
We should first get this part written down in a paper before we actually settle on how to store this information.

Hence, this should be done after we, in a paper has settled on a process for curation and how to automatically fix the curation.

[2021-08-11 12:57] MansMeg commented on #58
@ninpnin should provide a short description on the parlaclarin readme

[2021-08-11 12:57] #58 closed, assigned to nobody

[2021-08-16 10:22] ninpnin commented on #41
I wrote down some observations on the sample https://github.com/welfare-state-analytics/riksdagen-corpus/blob/mp/input/curation/mapping_sample_0.md

[2021-08-18 14:07] rbbby opened #67 "Fix minister tagging in bichameral era"
Ministers may show up in both chambers, resulting in the algorithm not properly being attributed them to speeches. Need to create a list over ministers and fix their tagging.

[2021-08-24 10:01] ninpnin commented on #41
Errors detected in the first sample seem to fall into the following categories, in the order of least work per improvement

1. 30% Problems detecting ministers
2. 30% Errors with "X i Y" type intros, mostly stemming from incomplete metadata
3. 40% Miscallenous problems in the mapping process

We need to at least get 1. and 2. to reach 90% accuracy. The work on ministers is alrady ongoing #71, but

[2021-08-27 14:12] MansMeg opened #72 "Use a fine-tuned BERT for identification of tricky introductions"
Now more length introductions can be missed in the current algorithms. One way would be to use a BERT model on a small trainings set of positive samples (complicated introductions), then use that to predict new possible introductions. based on these we would then add identified complicated introductions to a new training set and re-train/fine-tune the introductions and continue like that until we

[2021-09-08 08:50] MansMeg opened #74 "Check the copyright situation for releasing the parliament as freely as possible"
We need to double-check with Riksdagen and maybe Uppsala University lawyers that releasing the corpus is problem-free.

[2021-10-12 11:22] rbbby opened #76 "Rewrite MP mapping procedure"
Found some bugs resulting in speakers that should have been identified to be unknown.
Clean up the code and improve the algorithm, adding for example fuzzy matching function.

[2021-10-12 12:51] ninpnin opened #77 "Fix specifiers in Ministers metadata"
Currently, specifiers are part of the "name" column, as in "Herr Ericsson i Stockholm", in the minister metadata. They should be moved to their designated column.

[2021-10-12 14:31] rbbby opened #78 "Scrape stadskalendern"
Stadskalendern has been found to contain a lot of valuable data for the corpus, including:

- Members of parliament (which can complement the current dataset that misses some years)
- Första kammaren mandate periods before 1970 (they are on district level) necessary for matching
- Additional data for "specifier" and "born" variables (improving specifier data is of great interest for matching)

Wil

[2021-10-16 06:02] MansMeg opened #79 "Find and include missing protocols"
We are now missing some protocols that needs to be added (eg 1995)

[2021-10-25 12:35] rbbby opened #80 "improve mop mapping with metadata"
Super issue for what is being worked on in the current patch.

Statskalendern #78

- [x] Scrape statskalendern for mandate periods and specifiers
- [ ] Impute mop with mandate periods
- [ ] Impute mop with specifiers
- [x] Add missing time periods to mop
- [x] Complement with missing data to mop

Clean name column #77

- [x] Find incorrectly formatted names
- [ ] Fix the names (add born variable,

[2021-10-29 07:51] rbbby opened #81 "Look for errors in MOP"
Have found at least 1 case where party abbreviation is incorrect in mop.
Look for these kinds of errors by examining people who has more than 1 different party abbreviations and check these.

[2021-10-29 11:27] ninpnin commented on #81
Incorrect in what way?

[2021-10-29 12:06] rbbby commented on #81
A person was is member of M for a single time point and L for all others. When examining it further it seemed like the correct tag should be M.

[2021-11-02 17:04] rbbby opened #82 "detect_mp_new bugs"
List of found bugs for new version detect_mp, which takes an intro and maps it to the categories: name, gender, party, specifier, other.

- ‘Anf. 166 MARGARETA B KJELLIN (m):’ --> {‘party’: ‘(m)’, ‘name’: ‘MARGARETA’}, since middle names currently are required to be >1 character long.
- '1978/79:' --> wrongfully detected as intro
- '(c):' --> {‘party’: ‘(c)’}, artifact from intro being split over

[2021-11-03 10:09] ninpnin commented on #25
I created a LICENSE file in #83

[2021-11-03 10:10] ninpnin commented on #23
Done with amanuenserna.

[2021-11-03 10:11] ninpnin commented on #34
Fixed so that docDates and the protocol name year can't deviate by over one year.

[2021-11-03 10:11] #34 closed, assigned to nobody

[2021-11-03 10:13] ninpnin commented on #30
Will be completed in #80

[2021-11-03 10:13] #30 closed, assigned to nobody

[2021-11-03 10:13] ninpnin commented on #33
This is now done to the extent that it's currently possible.

[2021-11-03 10:13] #33 closed, assigned to nobody

[2021-11-03 10:14] ninpnin commented on #35
Should implicitly be part of the current algo – word vectors for "vi" and "jag" are associated with segs to a high degree.

[2021-11-03 10:14] #35 closed, assigned to nobody

[2021-11-03 10:15] ninpnin commented on #38
Removed empty tags.

[2021-11-03 10:15] #38 closed, assigned to MansMeg, ninpnin

[2021-11-03 10:20] ninpnin commented on #43
Done.

[2021-11-03 10:20] ninpnin commented on #44
Part of the process now.

[2021-11-03 10:20] #44 closed, assigned to nobody

[2021-11-03 10:23] ninpnin commented on #56
Done.

[2021-11-03 10:23] #56 closed, assigned to nobody

[2021-11-03 10:23] ninpnin commented on #57
Merge with #50

[2021-11-03 10:23] #57 closed, assigned to nobody

[2021-11-03 10:24] ninpnin commented on #62
#80 Implements fuzzy matching and practically solves this issue.

[2021-11-03 10:24] #62 closed, assigned to nobody

[2021-11-03 10:25] ninpnin commented on #82
The latter two should be solved upstream.

[2021-11-03 10:25] ninpnin commented on #77
Done.

[2021-11-03 10:25] #77 closed, assigned to nobody

[2021-11-03 10:26] ninpnin commented on #76
Subset of #80

[2021-11-03 10:26] #76 closed, assigned to nobody

[2021-11-03 10:27] MansMeg commented on #43
Cool! Is this done? Where is that data?

[2021-11-03 10:27] ninpnin commented on #15
Seems to be a duplicate of #37

[2021-11-03 10:58] ninpnin commented on #43
At least we merged this at some point?

[2021-11-03 11:13] MansMeg commented on #43
? But where is the twitter data then?

[2021-11-03 12:04] rbbby opened #84 "Change corpus metadata tags for digitized era"
There is better metadata tags for the later time periods available in digitized format. Keep our corpus intact for this time period but switch out our metadata to this better version.

[2021-11-03 12:08] rbbby opened #85 "Add metadata for Riksmötets öppnande and mandate periods"
Exact dates for when new members of parliament, ministers and talmän is needed to avoid unnecessary buffering of start-/end-dates and to avoid overlaps. Currently these dates are gathered from metadata tags in the corpus and the use of exact dates is integrated into (at least) the talmän file.

Construct a file containing all of the dates for riksmötets öppnande by gathering data from https://sv.w

[2021-11-03 12:08] ninpnin commented on #84
Downloading the XML protocols from https://data.riksdagen.se/data/dokument/, this is what you get

[code]

Accurate metadata ranges at least from the 90s till today.

[2021-11-03 14:14] ninpnin commented on #43
There is a column for the twitter handles and apparently 1 value ?

[2021-11-03 14:43] MansMeg commented on #43
In what file? The MOP file?

[2021-11-04 07:44] ninpnin commented on #43
https://raw.githubusercontent.com/welfare-state-analytics/riksdagen-corpus/dev/corpus/members_of_parliament.csv

[2021-11-04 20:39] MansMeg commented on #43
Ah yes. This remind me that we should formulate the mop data into at least the third normal form for databases. Ill file this as an issue.

[2021-11-04 20:39] #43 closed, assigned to nobody

[2021-11-04 20:41] MansMeg opened #86 "Convert the MOP data into the third normal form"
We now have a situation where the mop data is essentially obe table with a lot of redundancy. Before releasing it we should split it up into multiple csv files so we obay at least the third normal form for databases.

[2021-11-09 08:36] MansMeg opened #87 "Create a test suite for the matching algorithm"
- [ ] Automatic testing (Github actions) against the manually annotated data

[2021-11-09 08:44] MansMeg opened #88 "Seperate out code and data into two different repo"

[2021-11-09 15:44] rbbby opened #89 "Add resigned/new mps from 2002 and onward to mop"
For 2002 and onward data is available for mps that resigned early and the mps replacing them. We are currently missing one of those entries. Complement the mop dataset with this.

Example data:
https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_ledam%C3%B6ter_av_Sveriges_riksdag_2002%E2%80%932006

[2021-11-15 12:18] rbbby commented on #82
Regex currently results in: "Herr SJöÖHOLM (fp):" --> "SJ".

[2021-11-15 12:52] rbbby commented on #82
OCR error "(5):" should be "(S):", currently not letting us match by party.

[2021-11-18 18:39] ninpnin commented on #53
Data sources:
- Riksdagens Öppna data for newer entries
   - A multitude of metadata available
- Statskalender and/or personregister for older entries
  - Birthyear always available, title is often already included in MoP.csv
  - We already have a script that matches the year from personregister, use that

[2021-11-18 18:42] ninpnin commented on #51
Duplicate of #53

[2021-11-18 18:42] #51 closed, assigned to nobody

[2021-12-01 08:17] ninpnin commented on #80
Things still to be done
- [x] Incorporate exact mandate periods to the actual mop.csv file
- [x] Add remaining statscalendar pages
- [x] Incorporate statscalendar data to mop.csv

[2021-12-01 08:21] MansMeg opened #90 "Run a final sampling run on the quality of introductions"

[2021-12-02 16:13] ninpnin opened #91 "README and example script: how to use corpus and python packages"
Reading the current README.md, it is not clear how to use the corpus with pyriksdagen and pyparlaclarin. We probably just want to add this script and explain it

[code]

[2021-12-02 16:28] MansMeg commented on #91
Yes. Ideally, you could add it as a colab notebook?

[2021-12-03 10:07] ninpnin commented on #41
Subset of #80

[2021-12-03 10:07] #41 closed, assigned to nobody

[2021-12-03 11:50] ninpnin commented on #91
A Colab notebook is a fantastic idea! It's so convenient, check it out https://colab.research.google.com/drive/1C3e2gwi9z83ikXbYXNPfB6RF7spTgzxA?usp=sharing

[2021-12-06 11:35] ninpnin commented on #91
Merged

[2021-12-06 11:35] #91 closed, assigned to ninpnin, rbbby

[2021-12-08 09:23] salgo60 opened #95 "WIkidata same as"
I am doing a try matching [corpus/members_of_parliament.csv](https://github.com/welfare-state-analytics/riksdagen-corpus/blob/main/corpus/members_of_parliament.csv) with [Wikidata](https://www.youtube.com/watch?v=m_9_23jXPoE)

When I use [Open Refine](https://www.wikidata.org/wiki/Wikidata:Tools/OpenRefine) and looks in the file [corpus/members_of_parliament.csv](https://github.com/welfare-state-a

[2021-12-08 11:18] MansMeg commented on #95
Hi!

We have an issue on converting this data to a better form (normalized). Although it has not been the main priority yet. I think we are quite open to findibg a good format for this. Now it is just a csv-file.

Although, Im no expert on what would be the best format.

What is important with the format is (as I see it)
1. Having an individual id per person
2. Enable additional meta data, such as

[2021-12-09 07:58] salgo60 commented on #95
Ok we can speak about that when we do the demo of Wikidata- I will try to walk through your list and see that every line in your data is matched to a person in Wikidata i.e. it will have a [Wikidata Q number](https://www.youtube.com/watch?v=m_9_23jXPoE)

The good thing if we get external identififiers [owl:same as](https://www.w3.org/TR/owl-ref/#sameAs-def) in your data --> so that your data is **

[2021-12-09 10:15] salgo60 commented on #95
FYI: I created a repository for the matching activity see [salgo60/Wikidata_riksdagen-corpus](https://github.com/salgo60/Wikidata_riksdagen-corpus) (will take 1-2 weeks)

[2021-12-15 12:55] #79 closed, assigned to nobody

[2021-12-15 12:57] ninpnin commented on #90
Previously, we have had a page-based sampling algorithm for this. What should we do now, as we probably want to also sample protocols from 1990->, which are digital and don't have pages per se?

[2021-12-15 13:41] MansMeg commented on #90
Hm. Yes, a good point. There are pages also for the later protocols, but they are not included right now.

I would:
1. Setup a new issue that also the later data need to have protocol pages linked to the data.
2. Just go with the protocols that have the pages for  now but file this issue as a new issue for the later data that we can check later on. Ie put the later protocols in the backlogg.

[2021-12-15 14:29] ninpnin commented on #90
I'm not sure if that exists, the original data is written in a digital format...? Or is there a link that you've seen them in?

[2021-12-15 14:56] MansMeg commented on #90
https://data.riksdagen.se/fil/71D8B389-B048-4282-BD34-3386E30992DD

An example.

[2021-12-15 14:59] MansMeg commented on #90
https://data.riksdagen.se/fil/0E59830C-0268-4269-BFC3-4A500275C386

Another example.

[2021-12-15 15:09] rbbby opened #97 "Add party and gender to minister file"
Easy fix for now. Can add more metadata after linking entries between all of the databases.

[2021-12-17 09:26] Stubbendorff opened #98 "1921 should be 1920"
1921 should be 1920 (1920-2020) - change it where we present the corpus - in headlines as well as introducing texts

[2021-12-17 12:11] salgo60 commented on #95
Wikidata related
* see GITHUB https://github.com/every-politician-scrapers/sweden-riksdag-api-current and last [commit](https://github.com/every-politician-scrapers/sweden-riksdag-api-current/commit/2b1bcc494e21659200de93e17d1450ac3178502d) how this user scrape Swedish Riksdagen to find differences his last [commit](https://github.com/every-politician-scrapers/sweden-riksdag-api-current/commit/2b1

[2021-12-18 09:04] MansMeg opened #99 "Formalize the API for the corpus"
We need to set up a more long term API for the corpus. With a data API, I mean the structure on how the data should be stored and that we can build upon in research. The focus on this API to clarify how the data is structured and simplify use of the corpus.

**Currently, I see the "API" as:**
- Annual protocol files in the corpus/ folder
- List of MPs corpus/members_of_parliament.csv
- List of min

[2021-12-18 09:35] MansMeg opened #100 "Renaming the protocols from prot-YYYY--1 to prot-YYYY--001"
Here are the minor issues I wrote down after our discussions with the sweTerror project.

- [x] Have the same number of digits in the protocol files so they will show up in order.
- [x] #408

[2021-12-18 09:56] MansMeg opened #101 "Discussion: Annotate layout and ordering information in document"
The protocols right now are digital representations of the physical documents. This means that we need to have information on how to handle "avstavning" and that different textblocks now are separated into different blocks. As an example, see: protocol 14 year 1921 (ak) at line 149.

This actually boils down to what we want to keep in the corpus. Is it a representation of actual physical documents

[2021-12-18 10:03] MansMeg commented on #101
It would be really interesting to hear the opinions of you all on this: @ljo , @Stubbendorff , @ninpnin , @rbbby , @fredrik1984

Fredrik, I actually think I changed my mind since the last time we spoke. =)

[2021-12-18 10:03] Stubbendorff commented on #101
sounds good, as long as page numbers are kept on some level. those switching between close and distant reading need page numbers to cite examples.

[2021-12-18 10:07] MansMeg opened #102 "Metadata on the type of debate"
Both us and sweTerror would like to have the type of debate: Interpellation debate, party leader debate etc. Although to add this, I think we need to talk with the Riksdagen library to check with them how this system of "type of debates" work. How can we see this in the protocols and how persistent is this over time?

My guess is that the definition of these debates are based on what document or d

[2021-12-18 10:41] MansMeg opened #103 "Setup person identifier for persons speaking in the parliament"
After 0.3 there has been discussion on finding a way to store and handle the member of parliament, ministers etc in a structure that is easy to handle, but also flexible. Also so we can get the data on parties etc for ministers etc.

Below is how the Riksdagens Öppna data [suggest](https://data.riksdagen.se/dokumentation/databasmodell/) that the persons are stored. Although, to me, this looks more

[2021-12-18 10:42] MansMeg commented on #103
I would be interested in opinions on this from @TomasSkotare , @ninpnin , @rbbby and maybe also from @ljo and @salgo60 that also have been part of this general discussion.

[2021-12-19 17:55] fredrik1984 commented on #101
I agree, sounds like a good idea. And I actually thought that this was our idea from the beginning!

Fredrik Norén
PhD, Senior research assistant
Humlab
Umeå University
SE-901 87 Umeå, Sweden
+46 (0)73 995 10 15

umu.se/personal/fredrik-noren/<http://umu.se/personal/fredrik-noren/>
westac.se/en
inidun.github.io

[cid:B2E5D2EF-2346-49EB-B8BE-F2B23E18D6EF]

18 dec. 2021 kl. 11:03 skrev Stubbendorff

[2021-12-19 17:58] fredrik1984 commented on #102
Yes, and this is something that we should write in our RJ application too

Fredrik Norén
PhD, Senior research assistant
Humlab
Umeå University
SE-901 87 Umeå, Sweden
+46 (0)73 995 10 15

umu.se/personal/fredrik-noren/<http://umu.se/personal/fredrik-noren/>
westac.se/en
inidun.github.io

[cid:B2E5D2EF-2346-49EB-B8BE-F2B23E18D6EF]

18 dec. 2021 kl. 11:07 skrev Måns Magnusson ***@***.******@***.***>>

[2021-12-19 19:05] MansMeg commented on #102
I agree. I think we should go through our current backlogg as part of writing our application.

[2021-12-19 19:22] salgo60 commented on #103
I met the Swedish Parlament people 2019 and they have some [technical debts](https://phabricator.wikimedia.org/T266668)

In Wikidata we use ShEx for defining schemas used (see [video](https://www.youtube.com/watch?v=nM8kXuZM3lQ) when designing the one for the Swedish PM [EntitySchema:E134](https://www.wikidata.org/wiki/EntitySchema:E134)).

![image](https://user-images.githubusercontent.com/142065

[2021-12-19 20:07] roger-mahler opened #104 "Is the list of MPs (corpus/members_of_parliament.csv) outdated?"
Hello, and thanks for v0.3.0 of the riksprot corpus!

I have run in to some trouble when trying to link the v0.3.0 corpus speech data to the CSV metadata. If I'm not mistaken, I believe the MOP file *members_of_parliament.csv* might be outdated, it's two months old in the v0.3.0 tag, and there are a lot of *who* attributes in the v0.3.0 corpus data that don't exist in the metadata.

Out of 10 573

[2021-12-20 07:24] rbbby commented on #102
I agree. We have observed that the subjects seem to be written out in the margins or as a header, which should be easily scrapeable. But we have not dug deep into it yet and there might be more to it.

[2021-12-20 08:32] ninpnin commented on #101
I am still hesitant about deleting large parts of data. You can go wrong easily, and not even notice.

Additionally, I actually thought of going to the opposite direction. We could test the data to have the exact same words per page as in the OCR'd alto files.

[2021-12-20 09:47] rbbby commented on #104
Hi, it sounds correct / as intended for this release, but that the data does not have the best structure at the moment (which we will work on in the near future). For clarity I will describe the way who-tags are made in the corpus:

1. Identify when a new speaker appears (and tag it as an intro)
2. Extract information about the speaker from the intro
3. If the person is identified as a talman or m

[2021-12-20 11:51] ninpnin commented on #98
Thanks @Stubbendorff for fixing this!

[2021-12-20 11:51] #98 closed, assigned to nobody

[2021-12-20 14:24] MansMeg commented on #98
Has @Stubbendorff fixed this in a PR? I though he just opened an issue?

[2021-12-20 16:14] ninpnin commented on #98
@MansMeg https://github.com/welfare-state-analytics/riksdagen-corpus/commit/fef1a82cfc3b1b3ed9473188549368aef0521f94

[2021-12-20 17:10] MansMeg commented on #98
Cool!

[2021-12-21 10:11] #74 closed, assigned to nobody

[2021-12-21 10:22] rbbby commented on #100
We should do this. But need to add the original KB filenames inside the xml files.

[2021-12-21 10:44] #87 closed, assigned to nobody

[2021-12-21 10:45] rbbby commented on #85
We have the data now, but wait with implementation til after 0.4.

[2021-12-21 10:45] #82 closed, assigned to nobody

[2021-12-21 10:47] ninpnin opened #106 "Test that data is not too different from the raw ORC files"
Write a test to check that
- the word-level difference between all Alto files and the per-page parla-clarin files is, say <= 1%.
- the word-level difference between Alto and parla-clarin of no individual protocol is, say <= 10%

[2021-12-21 10:48] #81 closed, assigned to nobody

[2021-12-21 10:48] #80 closed, assigned to ninpnin, rbbby

[2021-12-21 10:48] #78 closed, assigned to nobody

[2021-12-21 10:49] #67 closed, assigned to nobody

[2021-12-21 10:53] #61 closed, assigned to rbbby

[2021-12-21 10:54] #54 closed, assigned to nobody

[2021-12-21 10:55] rbbby commented on #53
#103 will help

[2021-12-22 07:14] MansMeg commented on #101
That's a good point @ninpnin . I interpret this as we still "care" about the general body text in the documents, but we keep layout information as meta-data. The problem is just where to put this layout meta-data, since it is actually not a part of the text, rather part of the page? The pagebreak make sense to put in a segment, but how would we do with this additional metadata? Now it looks like i

[2021-12-22 09:16] roger-mahler commented on #104
Thank you for this clarification! I have adapted my logic according to your description. For the time beeing I'm creating a merged index of parliamentary persons in accordance to the following excel:

![image](https://user-images.githubusercontent.com/17061116/147067414-1f3d8dc2-6518-4712-a2a2-f959cacd2446.png)

[2021-12-22 09:16] #104 closed, assigned to nobody

[2021-12-22 17:43] salgo60 commented on #103
**Alias name**
Depends how you will use the data but many people in the Swedish PM had "other names" to disambiguate common names see SPA [sj9PGLAlnmUAAAAAABgfbg](https://portrattarkiv.se/details/sj9PGLAlnmUAAAAAABgfbg)

![image](https://user-images.githubusercontent.com/14206509/147128930-624fb537-18db-43d8-9b66-a253a5437b88.png)

* Alf Andersson
* Andersson i Essvik
* Alf Emmanuel Andersson

In

[2021-12-22 18:19] ninpnin commented on #103
@salgo60 How comprehensive is this coverage? We rely on those extra identifiers pretty heavily in the process, as the introductions are often just "Herr X i Y:" in a lot of cases.

[2021-12-22 18:47] salgo60 commented on #103
@ninpin my best guess is that we have it in Swedish Wikipedia articles but less often in Wikidata see [video](https://youtu.be/fGb30Tu1hAQ) how you could extract them from python, java, javascript... (all [Wikidata is CC-0](https://www.wikidata.org/wiki/Wikidata:Licensing))
* query [Wikidata people in Swedish PM with one or more alias](https://w.wiki/4b24)

![image](https://user-images.githubuserc

[2021-12-23 07:22] dpriskorn commented on #103
I agree with Magnus that the aliases are a powerful tool to capture one thing being mentioned in multiple ways.
The beautiful thing with Wikidata is that it is open for anyone to improve. So you can enter aliases there as you find them.
If you are unsure about who they mean in the source you can compile a list and we can investigate together.
We could even create an unknown person named "X from Y"

[2021-12-23 16:15] MansMeg commented on #103
This sounds promising. I tried to go through some of your links @salgo60 , although it was a little too much information for me to digest and make actionable.

So most computational researchers are familiar with csv-files, JSON and (some) XML. Hence I’m leaning toward storing persons in a csv as presented above.
What do you think about that? To me that would be easy to sync with wikidata? Or do yo

[2021-12-23 18:31] salgo60 commented on #103
OT this is what [Swedish Datastory](https://www.datastory.org/) does with Wikidata PM data see "[The Longest Serving MP in Sweden](https://www.datastory.org/blog/the-longest-serving-mp-in-sweden)" - [tweet](https://twitter.com/datastory/status/1468135882368720897?s=20)

![image](https://user-images.githubusercontent.com/14206509/147278706-41d435dc-03ce-44e1-8d8a-a23068e0b918.png)

They have done a

[2021-12-24 22:48] salgo60 commented on #103
@ninpnin just so we are on the same page

in [this picture](https://portrattarkiv.se/details/sj9PGLAlnmUAAAAAABfO_g) it says "**Magnuson i Sandviken**"
![image](https://user-images.githubusercontent.com/14206509/147373654-dc8802aa-69bc-4679-a863-e21cc787f80d.png)

**Question ninpnin**: is this something this person was called in the Swedish PM? and that we should add as a "Tunnetaan myös nimellä"

[2021-12-26 15:11] salgo60 commented on #103
@MansMeg I looked into the spec [TEI Schema for Corpora of Parliamentary Proceedings](https://clarin-eric.github.io/parla-clarin/) and I guess a good start is "standardize" objects they mention --> describe them as linked data with a persistent identifier with a landing page, try to standardize this for Digital Humaniora that works with Parliamentary Proceedings in the whole Europe

![image](https

[2021-12-27 16:27] ninpnin commented on #103
@salgo60 Yes, I think, adding 'Magnusson i Sandviken' as his alias is appropriate, in the field you suggest.

I didn't manage to find him in our data as we only have data from 1920 at the moment, but here's an example.

<img width="166" alt="kuva" src="https://user-images.githubusercontent.com/10169469/147489585-4ef2d9cc-959b-4e15-86e6-8a65f1318db9.png">

People are introduced with that exact alia

[2021-12-27 19:32] MansMeg commented on #103
Thanks @salgo60 . I interpret your response as this type of CSV file with the different objects coming from the Parla-Clarin format is a good one that easily can be combined with the wikidata structures.

What do @ninpnin think about having alias as a csv/tabular file? I know we have discussed this before:
[code]

[2021-12-28 07:03] salgo60 commented on #103
Dont hesitate to call me 073-5152802 this is very complex but I also think game changing.... I am also on [Telegram as salgo60](https://t.me/salgo60)

Thanks I plan to call the Swedish Riksdagens library [Lotta Åberg Brorsson](https://www.riksdagen.se/sv/kalender/kalenderhandelse/?calendareventid=RDH7C220190927se1) when they open ([video with her from 2018](https://www.youtube.com/watch?v=oCOzUkdK

[2021-12-28 11:00] salgo60 commented on #103
Depends what scope you have my understanding from the Bionomia developer [listen at 48:28 when I asked him about his experience matching](https://stanford.zoom.us/rec/play/zCW7Zel4sQVeSIgwYL1fAz2E9dytx0_VDdCdKHd2e-CpXQJvS37W-PtohlON9wYLJ3PV_CCH1PR2Kg_s._N9DzHE1blpFqQNL) --> its normal a High Chaparral doing NER for notes about scientific findings....

![image](https://user-images.githubusercontent

[2021-12-28 18:40] salgo60 commented on #103
Looks it was very usual in the old days  in the Swedish Government to use this above name form by the "talman" and still today it can be used but mostly as an humoristic way was the answer to [my question ](https://sv.wikipedia.org/wiki/Wikipedia:Bybrunnen#I_Riksdagen_kallad_Pettersson_i_Bj%C3%A4lbo%2C_Petersson_i_R%C3%B6st%C3%A5nga)

![image](https://user-images.githubusercontent.com/14206509/147

[2021-12-29 10:19] MansMeg opened #107 "Failing github actions"
There seem to be logging errors that make github actions fail currently. This is a bug we need to fix.

https://github.com/welfare-state-analytics/riksdagen-corpus/pull/105#issuecomment-1002482202

[2021-12-29 10:23] ninpnin commented on #107
Under issue #101 , I was talking about doing the testing against the original OCR'd XML documents. This testing paradigm would replace whatever the logging is trying to accomplish now. I think we can remove the action that yields these problems, and implement the new test suite later. What do you think @MansMeg ?

[2021-12-29 10:29] MansMeg commented on #107
That works fine with me. Although I guess we want to add additional test suites, not just the OCR tests? Like checking the files follows the schema and in the long run that changes doesn't overwrite previous manually annotated parts.

[2021-12-29 10:29] MansMeg commented on #107
The most important is just that we dont get a failed tests error message when creating a PR.

[2021-12-29 10:37] ninpnin commented on #107
I guess there is a bit of confusion. At the moment, we have

1. A test suite that works fine
2. Logging of changed files that does not work

I would remove part 2, and implement tests that provide an equivalent level of security later.

[2021-12-29 10:51] MansMeg commented on #107
Ah. Ok. Yes, that sounds good!

[2021-12-29 12:02] ninpnin commented on #107
Done.

[2021-12-29 12:02] #107 closed, assigned to nobody

[2021-12-30 14:07] salgo60 opened #108 "Reference your material from Wikidata"
Eg. Wikidata [Q96781246](https://www.wikidata.org/wiki/Q96781246) "Anders Andersson i Skäringby" is mentioned that he was part of 1809 1810 in document "[Personregister till rikets ständers protokoll för tiden från och med år 1809 till och med år 1866](https://weburn.kb.se/riks/metadata/08/21798908.html)"--> I would like to use this document as the Source **but also point more exact were in the do

[2021-12-30 14:37] ninpnin commented on #108
The **personregister** files are not part of the official corpus, though we are familiar with them and have worked on them for this exact purpose https://github.com/welfare-state-analytics/riksdagen-ocr . In the corpus, we will eventually have unique IDs for each paragraph/segment.

[2021-12-31 06:25] salgo60 commented on #103
FYI I created a [Wikidata request for a new property](https://www.wikidata.org/wiki/Wikidata:Property_proposal/Name_in_Swedish_government) to store the name in the Swedish PM [link](https://www.wikidata.org/wiki/Wikidata:Property_proposal/Name_in_Swedish_government)

![image](https://user-images.githubusercontent.com/14206509/147807320-bfe51b68-d1f8-4e7b-8a34-197f8846b2b5.png)

This process can ta

[2021-12-31 08:25] salgo60 commented on #108
@ninpnin thanks please keep me updated if you get unique ids and how we should link a "Riksdagens document"

* I just found an error in Wikipedia/WIkidata see [discussion](https://sv.wikipedia.org/wiki/Diskussion:Lista_%C3%B6ver_ledam%C3%B6ter_av_Sveriges_riksdags_andra_kammare_1941%E2%80%931944 ) about the [Wikipedia listpage](https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_ledam%C3%B6ter_av_Sverig

[2022-01-07 15:41] salgo60 commented on #103
We created a sv;WIkipedia article about this **name form in the Swedish PM** see [I_riksdagen_kallad](https://sv.wikipedia.org/wiki/I_riksdagen_kallad) (updated now a person deleted the table so you have it [on this page](https://sv.wikipedia.org/wiki/Anv%C3%A4ndare:Salgo60/Iriksdagenkallad))

![image](https://user-images.githubusercontent.com/14206509/148568107-5b52ab66-8a25-4611-a042-bfcd6dd6673

[2022-01-12 08:57] ninpnin opened #109 "Ambiguous parties in the metadata"
Some of the MPs in mop.csv have ambiguous party names, e.g.

Carl Hederstierna,**Unknown n**,Mandatperiod: 1922–1929,Första kammaren,1921,1927,,man,carl_hederstierna_063a74,,,,,

These should be replaced with unambiguous party names.

[2022-01-13 15:18] ninpnin commented on #103
Here are some Python wrappers we might want to use for querying Wikidata

- QWikidata https://github.com/kensho-technologies/qwikidata
- Wikirepo https://github.com/andrewtavis/wikirepo
- Wikidata https://github.com/dahlia/wikidata

[2022-01-13 16:17] salgo60 commented on #103
@ninpnin dont hesitate to call me if you have questions +46-735152802 or better screen sharing or [telegram salgo60](https://t.me/salgo60)
* I often use the SPARQL editor generated code and [sparqlwrapper](https://github.com/RDFLib/sparqlwrapper)  see video then you get Python code generated... --> see [video](https://youtu.be/ap0Zsn8DNbc) where I use the following [SPARQL query](https://query.wik

[2022-01-13 17:26] salgo60 commented on #103
@ninpnin let me know if I should prioritize what people I curate in Wikidata with "I Riksdagen kallad" right now I just take them randomly. Maybe it makes more sense for you that we take people active at a specific year?

In sv:Wikipedia we have some lists (quality unknown as always with Wikipedia)
* example [1929–1932](https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_ledam%C3%B6ter_av_Sveriges_riksd

[2022-01-13 18:08] dpriskorn commented on #103
I have not tested these 3 but the best library I found until now (that is professionally maintained and covers all of Wikibase) is https://github.com/LeMyst/WikibaseIntegrator. It is very powerful and v0.12 has very nice API:s IMO.
There are notebooks that showcase how to use it.

(I have contributed code and code review to the project)

[2022-01-15 13:00] salgo60 commented on #109
I think you need linked data for all the parties people are part of...

A good source is the book  Tvåkammar-riksdagen 1867-1970  e.g.

![image](https://user-images.githubusercontent.com/14206509/149622289-703e0b05-4b91-42a0-831b-f209cfe42440.png)

![image](https://user-images.githubusercontent.com/14206509/149622212-b5fc6ea5-b1ef-48b0-b241-8ba079f35d6d.png)

* jfg 1920-21 - Jordbrukarnas fria gru

[2022-01-20 15:17] rbbby commented on #103
I am currently working on individual level data for this issue. For some people we have multiple birth and death dates which I thought would be of interest. I looked through some references and often it is these that have conflicting information. This is generally not a problem as researchers at most will use this information on a year level, in which case there are only 2 conflicts. The problemat

[2022-01-20 17:03] rbbby commented on #103
Also found these wikidata objects with missing start and end dates. That is dates for starting and ending the property position held (P39), taking any of the values: Q10655178, Q33071890, Q81531912 (member of enkammarriksdagen, första kammaren andra andra kammaren). Currently active members of parliament (which do not have end dates yet) are not included in these lists.

Missing start:
['Q5819783'

[2022-01-20 17:09] salgo60 commented on #103
@rbbby

Thanks I have started a slow cleaning of Wikidata and adding "[Tvåkammar-riksdagen 1867-1970](https://portrattarkiv.se/advancedsearch;facts=PortraitCatalog:Tv%C3%A5kammar-riksdagen%201867-)" as a source plus adding Iriksdagenkallad see [list](https://sv.wikipedia.org/wiki/Anv%C3%A4ndare:Salgo60/Iriksdagenkalladk%C3%A4lla)

![image](https://user-images.githubusercontent.com/14206509/1503898

[2022-01-27 11:28] rbbby opened #111 "Accented characters in regex patterns"
Noticed that we are listing accented characters manually in the regex patterns and only include åäöéÅÄÖÉ. We should probably switch to [À-ÿ] which I believe captures all potential characters used in names, etc.?

https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dev/input/segmentation/patterns.json

[2022-01-31 09:55] rbbby opened #112 "Megaissue for problems with Wikidata"
Incorrect wikidata will be listed here for fixing later on.

- [ ] start-end (1875-1975) https://www.wikidata.org/wiki/Q5555684

[2022-01-31 19:07] rbbby commented on #103
@salgo60 great stuff thanks! The list will be of great use.

To answer some of your questions:

- At the moment we are working with data from 1920, but are planning to extend to 1867. So the most important years are in that priority order.

- Identifiers and link to wikidata is being worked on. Have tested it on a few years (1920, 50, 70), will be more work done it in the coming days, link: https:

[2022-01-31 19:20] salgo60 commented on #103
Dont hesitate to call me and we can share screen and speak what you want to do 0735152802

Then I suggest we create one...  do we have good sources of who had those positions?

[2022-02-01 10:23] rbbby opened #113 "Introduction regex bugs"
Common type 2 errors:

1. "Herr statsrådet LIDBOM erhöll ordet för"
2. "Herr finansministern STRÄNG erhöll ordet för att besvara fru" ...

in the corpus yields many hits of unrecognized introductions which probably should be captured by regex.
Should look into if such expressions can be implemented.

[2022-02-01 13:48] rbbby commented on #103
Will do and sounds good!
Wikipedia seems to have references to sources for many of the individuals
For example:
https://sok.riksarkivet.se/Sbl/Presentation.aspx?id=7790
https://portrattarkiv.se/details/sj9PGLAlnmUAAAAAABfNvw

I found sources in statskalendern after a quick look too, but seems that its missing for some early years.
We have an OCR:d version of the relevant pages here:
https://github

[2022-02-01 14:05] salgo60 commented on #103
Sounds interesting I need to learn more about what you have

I saw that file [tatorter.csv](https://github.com/welfare-state-analytics/riksdagen-ocr/blob/main/metadata/tatorter.csv) has tätortskod --> easy do same as Wikidata

![image](https://user-images.githubusercontent.com/14206509/151981343-234a6f12-59c9-437c-87a5-eb8c24decf6c.png)

In Wikidata that is [Property:P775](https://www.wikidata.org

[2022-02-01 14:33] salgo60 commented on #103
* I have connected all Riksarkivet SBL [WD Property P3217](https://www.wikidata.org/wiki/Property:P3217?uselang=sv) (I hope everyone see [Notebook](https://github.com/salgo60/open-data-examples/blob/master/SBL.ipynb) were I do webscraping) - [blogpost](http://minancestry.blogspot.com/2017/05/sbl-wikidata.html)
* porträttarkiv and source "Tvåkammar-riksdagen" started last month and will take some m

[2022-02-01 15:17] rbbby commented on #103
We essentially OCR:d the pages of statskalendern where information of riksdagen was present. Its about 10 pages each year. Searchable pdfs are available from other sources but can be a bit difficult to work with programmatically.

Very cool with tätorter! Not sure if we use the file for anything atm but such connections will likely be very interesting for some researchers in the future.

[2022-02-02 03:40] salgo60 commented on #103
I created this page **[Speaker of Swedish PM](https://sv.wikipedia.org/wiki/Anv%C3%A4ndare:Salgo60/IriksdagenkalladTalman)** but as I said call me +46-735152802 so we understand what you want to do. I leave Stockholm on sunday and will be away and have less good internet...

![image](https://user-images.githubusercontent.com/14206509/152096435-3805c876-c120-45bf-bb9c-b1be459f59cb.png)

* [video](h

[2022-02-02 10:32] salgo60 commented on #103
@rbbby
I did use [Open Refine](https://www.wikidata.org/wiki/Wikidata:Tools/OpenRefine) and did some reconcilation and uploaded vice speakers 1867–1920 to Wikidata see [video](https://www.youtube.com/watch?v=gUfo1_zNxFc) (need som QA and sources)
* [förste kammarens vice talman](https://www.wikidata.org/wiki/Talk:Q110785766) see [edit group](https://editgroups.toolforge.org/b/OR/d37174cbc5f/)
* [a

[2022-02-04 04:52] salgo60 commented on #103
![image](https://user-images.githubusercontent.com/14206509/152473294-72c9eec0-d098-46c1-9af5-a91c7023d7fd.png)
* file [riksdagen-corpus/blob/wikidata/corpus/197879/prot-197879--114.xml](https://github.com/welfare-state-analytics/riksdagen-corpus/blob/wikidata/corpus/197879/prot-197879--114.xml)

:rocket: :rocket: impressive work!!! let us know how we can help you.... @Ainali and some other people

[2022-02-04 10:20] dpriskorn commented on #103
Thanks for reminding me about this. I agree, this would be a unique and interesting source of examples. I opened up a new issue to track that idea in LexUtils.

[2022-02-04 14:42] rbbby commented on #99
Saving notes from meeting for discussion on monday. A bunch of small file with their contents are listed, which then is joined into an observation level file.

- [x] individual.csv
wiki_id, born, dead, gender

- [x] party.csv
wiki_id, party, start, end

- [x] name.csv
wiki_id, name

- [x] twitter.csv
wiki_id, handle

- [x] government.csv
wiki_id, government, start, end

- [x]  minister.csv
wiki_id

[2022-02-04 18:47] MansMeg opened #115 "Connecting MPs to valmyndighetens data"
We had a discussion earlier with the political scientists at Örebro University on the possibility to connect the valmyndighetens id on position on the ballot and the number of personal votes to our MPs and the riksdagen open data id.

[2022-02-06 11:39] salgo60 commented on #103
@rbbby Now also vice speakers should be in Wikidata

* [X] [Q110785766](https://www.wikidata.org/wiki/Q110785766) -  [SPARQL vice speaker of the First Chamber](https://w.wiki/4nez)
* [X] [Q110785785](https://www.wikidata.org/wiki/Q110785785) - [SPARQL vice speaker of the Second Chamber](https://w.wiki/4nex)
* [X] [Q110811796](https://www.wikidata.org/wiki/Q110811796) - [SPARQL first vice speaker o

[2022-02-06 13:33] MansMeg opened #116 "Create corpus to deliver to the ParlaMint project"
Here we give the information and requirements for the new (and old) partners that would
contribute to the ParlaMint II project.

## Timeline and remuneration
Each new partner is expected to receive 5,000 EUR for the addition of their corpus, while
most existing ParlaMint I partners will provide an equivalent of 3,000 EUR as in-kind
contribution from their own national or project funding for the ex

[2022-02-06 13:35] MansMeg commented on #116
I think this task can be divided into two parts:
1. Check that we have everything that is needed in our courpus and add it
2. Construct the actual output files from our corpus

[2022-02-06 16:22] MansMeg commented on #99
I think the original issue already contains a lot of my thoughts and comments. Some additional comments/suggestions:
- [x] The folder "corpus" is the API
- [x] The folder names should describe the content of the folder (i.e. "wikidata" -> "metadata", all years with protocols -> "protocols")
- [x] We should only have CSV-files (in a good normal form, 5?) and TEI XML files for textual data.
- [x] Fr

[2022-02-06 16:25] MansMeg commented on #99
Re. @rbbby s comment above I have the following comments:
- [x] We should use our own ide, so person_id instead of wiki_id. I also think it is good that the column names are informative.
- [x] I think some covariates are not changing over time, such as born, dead, gender (if we use wikidata gender) so these can be part of a persons.csv or equivalent.

Otherwise, I think this solves many parts of t

[2022-02-07 08:33] MansMeg commented on #99
- [x] Rename the csv files to minimize mental overhead (party.csv -> party_affiliations.csv)
- [x] We should separate different "variables" into separate tables (speaker_data.csv -> speakers.csv + twitter_handles.csv etc). Minimize sparsity. If something leads to sparsity it should be its own table.
- [x] These principles should be summarized in a README

[2022-02-07 09:09] ninpnin commented on #99
- [x] Include data source ('wikidata'/'statskalender'/'personregister')

[2022-02-07 10:05] rbbby opened #117 "Store metadata of unknown speakers"
When unable to identify speakers in introductions they are currently labeled as "unknown". This even though metadata like gender, party affiliation, etc. is present about them in the aforementioned intro. Rather than discarding this data, we should give the unknowns some kind of id and store their metadata in a file, say "unknown.csv". This way, when performing analysis using for example the varia

[2022-02-07 17:28] rbbby commented on #99
Here are the new queries and csv files generated from wikidata. No cleaning is done at this stage other than renaming/dropping columns and formatting dates (applying assumptions and joining files is next in the pipeline). Please comment if you find something we should change with regards to the API discussion above.

One note is that time data in _member.csv_, _minister.csv_, _speaker.csv_ and _pr

[2022-02-08 14:04] rbbby commented on #112
People who have missing party value for a given term, that also have party values filled for some other term which conflicts with an individual level party value:
Q18238811, Q3357513, Q4931171, Q4941925, Q4981479, Q53733, Q6178909, Q724410

[2022-02-08 16:28] rbbby commented on #112
(vice) prime ministers currently lack connection to the government they are the head of

[2022-02-09 08:11] #97 closed, assigned to nobody

[2022-02-09 08:12] #89 closed, assigned to nobody

[2022-02-09 08:15] #64 closed, assigned to nobody

[2022-02-09 09:04] MansMeg opened #118 "Improve the quality of the new API metadata"
- [x] Add talmän
- [x] Improve "i riksdagen kallad"/extract that better from wikidata

[2022-02-09 09:05] MansMeg commented on #118
This was what we said, right @rbbby and @ninpnin ?

[2022-02-09 09:06] MansMeg opened #119 "Add riksdagen ids to the new metadata structure"
We now do not have a connection between the ids in the new API meta data and riksdagens API. hence we should try to match and add riksdagens öppen API ids to our metadata files.

[2022-02-09 14:25] MansMeg opened #120 "hyphen error"
I just got this comment from David:

This is great, thanks for the heads up! Just from randomly clicking around, I noticed a word that looked like it was a line break, and it seems to have a soft-hyphen character (0xAD):

 reserva ­ tion

in https://github.com/welfare-state-analytics/riksdagen-corpus/tree/main/corpus/protocols/201617/prot-201617--89.xml

I don't know if these are common, but I wan

[2022-02-09 18:25] rbbby commented on #118
Yes or rather add talmän to the matching algorithm, we already have the data.

[2022-02-10 13:21] MansMeg opened #121 "Minor fixes in 0.4 after I went through the API"
I have now gone through the corpus API as of now. I can see the following minor issues to be fixed together with the quality. I think anything takes a very long time we should discuss if we need it in 0.4 or if it can be pushed down the line.

- [x] #127
- [x]  Is person.csv better than individual.csv? Yes
- [x] #130
- [x]  location.csv is not super-clear to me. Can we call it name_location_specif

[2022-02-10 16:47] ninpnin commented on #121
- [x] The name _member.csv_ doesn't really communicate anything. Perhaps parliamentary-roles.csv / parliamentary-mandate-periods.csv / elected-officials.csv ?

- [x] location.csv -> name-in-parliament-specifiers.csv

- [x] The one json file should be converted to a csv.

- [x] I agree with Måns on the merging of prime ministers and ministers.

[2022-02-10 17:07] rbbby commented on #112
Speaker list:
- third vice speaker (present in unichameral era)
- got both "första/andra kammarens vice talman" and "första/andra kammarens förste vice talman", I assume these are the same position?

[2022-02-10 17:20] MansMeg commented on #121
I agree on member. Its essentially a time period a person is elected to the parliament, not the person. Although, Im not sure which is best. Maybe @fredrik1984 or @Stubbendorff  might have an idea?

[2022-02-10 19:41] rbbby commented on #113
Common type 1 errors:

- [ ] OCR splits that cause text blocks to end with "Kungl. Maj:"
Example: Herr statsrådet Stadener avlämnade Kungl. Maj:

- [ ] "Anf." is used both for introductions and for listing who will hold anföranden. Change pattern to only capture the intros if possible.

[2022-02-11 07:52] #103 closed, assigned to nobody

[2022-02-11 08:05] MansMeg opened #122 "Add statskalender and personregister data to our personregister"
Add persons, and members of parliament, from statskalendern and personregister to our personregister.

- [ ] Add source column in individuals.csv/persons.csv
- [ ] Add source column in members-of-parliament.csv
- [ ] Map individuals that is not in the wikidata to our files.
- [ ] Send list with missing mps in wikidata to wd people

[2022-02-11 08:11] fredrik1984 commented on #121
I don't recall what the member.cvs file contains. Can paste the link to it here so I can take a look?

[2022-02-11 08:36] MansMeg commented on #121
member contains the time periods a person is a member of the parliament. We are gearing toward calling it member-of-parliament.csv

[2022-02-11 08:49] fredrik1984 commented on #121
Ok. I guess the important thing is that we identify individual actors that we then can attach relevant roles/metadata to, such as time period in parliament. So the member.cvs should be used for that kind of metadata, I guess. But if you are looking for a name for that file, maybe mp_term-of-office.cvs would do? I don't know if this answers your question though : )

[2022-02-11 09:14] rbbby opened #123 "Handling party in the API"
At the moment we have 62% party values tied to time periods in the members of parliament file (which is how we want it).
We also have individual level party affiliations that can be used to impute time specific data by placing assumptions, for example if an individual only has been affiliated with a single party, or going further with parties that has had mandates in riksdagen, or even further by

[2022-02-11 11:34] MansMeg commented on #123
I think we should not impute dates, but Im not sure? Can you be more explicit and maybe give an example?

[2022-02-11 14:22] rbbby commented on #111
Replace regex patterns åäöé ÅÄÖÉ everywhere with:

- [ ] Capital letters: À-Þ
- [ ] Lowercase letters: ß-ÿ

Also check if this unicode list is comprehensive against all names in the metadata catalog.

[2022-02-15 10:07] rbbby opened #124 "Corpus content linking to wrong page"
When searching for more party mappings "(o)" I found that the contents in the corpus refer to the page linked below. When examining the page however it can be seen that the actual contents come from the next page. Not sure of the extent and implications of this problem.

https://betalab.kb.se/prot-198586--146/prot_198586__146-052.jp2/_view

[2022-02-15 10:11] rbbby commented on #124
Happens here as well:
https://betalab.kb.se/prot-197778--106/prot_197778__106-093.jp2/_view

[2022-02-15 14:43] rbbby opened #125 "Include data source"
Include data source in metadata files.

- [ ] Include data source ('wikidata'/'statskalender'/'personregister')

_Originally posted by @ninpnin in https://github.com/welfare-state-analytics/riksdagen-corpus/issues/99#issuecomment-1031231026_

[2022-02-15 14:44] rbbby opened #126 "Add third vice speaker to metadata"
See title

[2022-02-15 14:45] #118 closed, assigned to nobody

[2022-02-16 09:30] salgo60 commented on #122
@MansMeg please check how I add the sources to Sveriges statskalender 1877 in Wikidata --> you could extract the data with [SPARQL](https://w.wiki/4qdF)

Would be great if you could reuse what I do and vice versa....

https://github.com/salgo60/Wikidata_riksdagen-corpus/issues/36

[2022-02-16 12:18] rbbby commented on #111
The characters ž, ć are currently not captured by the expanded regex. Look into including them in the regex.

[2022-02-16 12:31] ninpnin commented on #111
@rbbby This test could be automated. Read in the patterns, and then match all names in names.csv (person-names.csv ?) against that.

[2022-02-16 13:02] rbbby commented on #111
@ninpnin Would work but we could also just add "Latin Extended-A" unicode indices: 256-383 (r'[Ā-ſ]'). Number 329 is depreceated but probably does not matter. It however includes both small and capital letters (seems to switch every other character in the list) so depends on if we can include it in a nice way.

[2022-02-16 13:32] rbbby commented on #99
- [x] Make order in files deterministic (in scripts/wikidata_query)

[2022-02-16 13:34] rbbby opened #127 "Add our own id to all files and name it based on the CSV-file. So government file will have one column with government_id etc."

[2022-02-16 13:35] rbbby opened #128 "Use government_id in the minister file."

[2022-02-16 13:43] rbbby opened #129 "Problem in name.csv that we have some places with only first and last name"
Problem is that altlabels are put in the same column separated by commans in the dataframe when querying and that some names can contain commas, splitting names into multiple observations.

See Q496604 for an example. In the long run we probably want to separate first and last name.

[2022-02-16 13:47] rbbby opened #130 "Create the ids in the best way."

[2022-02-16 13:54] rbbby opened #131 "Add primary name column to name file"

[2022-02-17 14:21] rbbby opened #132 "Design choices in main README.md"
From 0.4 and onward we should set up some general design decisions in the corpus README.md (or Wikipedia) where the decisions are written out. Like only CSV and XML, no redundant data in the corpus folder (API), we use our own keys in the corpus, how we do semantic versioning etc.

[2022-02-17 14:22] #99 closed, assigned to nobody

[2022-02-17 14:23] #121 closed, assigned to nobody

[2022-02-17 21:17] ninpnin commented on #132
I now wrote an initial version of the design choices section.

[2022-02-18 11:32] rbbby opened #133 "Handling wikidata queries date imputation"
When only a year is given for a date in wikidata the query will extend the date to YYYY-01-01. Does not matter for most intents and purposes and it is being handled for matching. But we should probably discuss if this is how we want to have it / what to do about it / make the format more explicit in the corpus.

[2022-02-18 11:58] MansMeg commented on #133
I see two solutions:
1) Just have year (ie YYYY)
2) Use (YYYY-00-00)

the important part is that should fail for date parsers so the users will have solve it explicitly. Ie defensive data.

[2022-02-19 11:11] MansMeg commented on #122
This sounds good. We would like to sync so that we have the mps in statskalendern and personregisters in our mp file (ie in wikidata). Are you avout to do that?

[2022-02-19 11:27] salgo60 commented on #122
@MansMeg see https://github.com/salgo60/Wikidata_riksdagen-corpus/issues/36 I guess Sveriges statskalender 1877 WD Q58366813 - [page 72-78](http://runeberg.org/statskal/1877/0096.html) is done (let me know if you find errors...)

* I prefer to use Runeberg as my reference so that we in our data can add the source with an URL to a page
  * Runeberg has the possibility to reference a page
  * If we

[2022-02-19 11:29] salgo60 commented on #126
I have started add it to Wikidata see https://github.com/salgo60/Wikidata_riksdagen-corpus/issues/34

[2022-02-19 11:32] salgo60 commented on #133
In Wikidata you have date precision see [Help:Dates](https://www.wikidata.org/wiki/Help:Dates#Precision)

When creating the [vice speakers timeline](https://tinyurl.com/viceSpeakerSv) from Wikidata we have "bad" data with different precisions --> I also in the [SPARQL](https://query.wikidata.org/embed.html#SELECT%20%20%20%3Fspeaker%20%3Fitem%20%3FitemLabel%20%3FstartD%20%3FstartPrecision%20%3FendD

[2022-02-19 12:05] salgo60 commented on #133
Another thing with dates is Calendar format. We have this problem with the data from Nobelprize.org that they mix [Gregorian dates with Julian Dates](https://en.wikipedia.org/wiki/Old_Style_and_New_Style_dates)... see [link](https://www.wikidata.org/wiki/User:Salgo60/ListeriaNobelData3)

[2022-02-19 13:01] MansMeg commented on #122
Ok. I so not really follow. If Im correct (@rbbby knows) we have statskalendern and personregister with the mps over a large part of the 1900s. We would like to find the holes in wikidata based on this information and fill them.

How would we do that?

[2022-02-19 13:04] MansMeg commented on #133
Based on the date precision of wikipedia, I suggest we go with 2, since that is how it is solved in wikidata. Ie yyyy-00-00.

[2022-02-22 19:41] rbbby opened #134 "Speaker detection for intros with multiple people"
Strange bug where first intro of protocol is identified as "1977/78:", which in itself we are aware of and can be taken into account by regex. But why is the first speaker identified as Q6216923, Bo Turesson? Found in 197778/prot-197778--5.xml.

<img width="654" alt="Screenshot 2022-02-22 at 20 39 00" src="https://user-images.githubusercontent.com/78153594/155206369-637c97dd-8ad3-4a72-9984-663b732

[2022-02-22 19:54] Stubbendorff commented on #134
I have seen that in other cases as well, at least in version 0.3. it is not the speaker (Kondradsson) who is tagged, but the minister (Turesson) who is adressed.

[2022-02-22 20:55] rbbby commented on #134
Ah thanks that brings some clarity to it. The algorithm does not take object-subject information into account. Atm it looks at this speech and finds name: Ingemar Konradsson, party: S, other: kommunikationsminister. As it has identified a minister in the speech, it will try and match against the minister database (and does so aggressively at a minimum only requiring that we have a unique kommunika

[2022-02-22 21:18] MansMeg commented on #134
Yes. Good that we isolated this bug. The question is how big this problem is.

[2022-02-23 07:58] #132 closed, assigned to ninpnin

[2022-02-23 09:06] #131 closed, assigned to nobody

[2022-02-23 09:07] #129 closed, assigned to nobody

[2022-02-23 09:08] #117 closed, assigned to nobody

[2022-02-23 09:08] #119 closed, assigned to nobody

[2022-02-23 09:49] rbbby commented on #109
Think this is solved now?

[2022-02-23 09:49] rbbby opened #135 "Megaissue for corpus bugs"
### #134  Intros replying to minister/speaker

Description:
Detecting who is speaking in an intro with multiple people mentioned is a problem in the corpus which in the long run likely will be solved by a language model. It has multiple levels of difficulty which implicitly are handled differently by the algorithm.
- If more than one person of the same category (member of parliament, minister, spe

[2022-02-23 10:05] MansMeg commented on #109
Great! Can you check Väinös example? then close this?

[2022-02-23 10:46] ninpnin commented on #109
The file with the problem doesn't exist anymore.

[2022-02-23 10:46] #109 closed, assigned to nobody

[2022-02-28 09:41] salgo60 commented on #125
I did an overview what sources Wikidata has for Swedish PMs see https://github.com/salgo60/Wikidata_riksdagen-corpus/issues/36#issuecomment-1045980893 [SPARQL](https://w.wiki/4tjy) and its very much a **Work in Progress**

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/14206509/155960030-f131a66e-08cc-420c-94ca-f8a647b7bf3e.png">

<img width="1432" alt="image" src="ht

[2022-03-04 12:01] ninpnin opened #136 "Some names missing/clipped in name.csv"
Some names are missing/clipped in names.csv. For instance, [Eivor Marklund (Q4966043)](https://www.wikidata.org/wiki/Q4966043) is listed as

[code]

and her full name is missing.

[2022-03-06 11:29] salgo60 commented on #123
FYI: have started testing with dates for parties in Wikidata and follow the book "Tvåkammar-riksdagen 1867-1970" I guess we should also have partigroups... see Wikipedia article "[Moderaterna#Schematisk organisationshistorik för nuvarande Moderata samlingspartiet](https://sv.wikipedia.org/wiki/Moderaterna#Schematisk_organisationshistorik_för_nuvarande_Moderata_samlingspartiet)"

<img width="1120"

[2022-03-07 16:58] #136 closed, assigned to nobody

[2022-03-09 10:05] roger-mahler opened #138 "A question related to the handling of prev/next pointers for unknown speeches."
The sequence of unknown utterances seems to not be chained using prev/next pointers in many instances (see example below, actually all that I have seen).   Since the prev/next pointers are used to aggregate speeches, the number of speeches explodes when every single utterance becomes a speech. The following segment [prot-1958-b-fk--12](https://github.com/welfare-state-analytics/riksdagen-corpus/bl

[2022-03-09 10:14] MansMeg opened #139 "Do a small quality improvement of errors identified"
There are some errors identified in the speaker tagging of the parliamentary data by manual curation. This should be done and released by bumping the patch number (0.4.x). From our meeting I noted the following.

- [ ] Do a quick error analysis of potential sources that can be quickly fixed of the errors identifed.
- [ ] Correct the most obvious errors that can be quickly fixed using regexp etc.
-

[2022-03-09 10:22] MansMeg opened #140 "Improving note/seg quality"
Currently, there seem to be some problems where note and segs are either incorrectly classified and where there are segmentation errors in the note/segs. It is also not fully clear what the definition is of note seg in the ParlaClarin format. To improve this quality we need to.

- [ ] Identify the definition of not seg (most likely this will be paragraphs). if a clear definition is missing in the

[2022-03-09 10:39] MansMeg opened #141 "Create a helper file to simplify manual quality control"
With the new meta-data-structure it has become more difficult for manual control of the quality. To solve this we should setup a function to generate a file that can be used for quality control (in the input directory).

The helper file should contain name, chamber protocol, year, and party, sorted by year and lastname.

@Stubbendorff and @fredrik1984 Does this sound right to you?

[2022-03-10 19:04] MansMeg opened #143 "Fix the unit test"
We should not release data on main with failing unit tests. That is bad practice.

[2022-03-10 19:28] MansMeg commented on #143
I missed that the test were failing before. Now I added badges to the README so we don't miss it.

[2022-03-11 16:43] rbbby commented on #138
Great that you are bringing this up. I am not expert on the schema and @ninpnin who designed it is sick atm. But it seems like this is something we may want to correct.

When doing topic modelling on the corpus I have so far used the speech_iterator function from the pyparlaclarin package. The function has been updated to work for 0.4.X version of the corpus, but it is not yet in the module. I add

[2022-03-14 09:28] MansMeg opened #144 "Fix errors in 2006 and 2010"
We now have two dips in identifications of speakers in 2006 and 2010 compared to version 0.4.0. This is probably due to an error of dates according to @rbbby .

[2022-03-22 09:07] rbbby commented on #135
We are most likely switching to using BERT for introduction detection, but could be good to have this list of bugs so we can double check that they are solved with BERT.

[2022-03-23 07:07] MansMeg opened #145 "Fix scramble protocols from the digital period"
@rbbby has identified that some protocols hs been scrambled during the period in the digital era. Apparently, it is part of the current code-base.

[2022-03-24 07:41] #144 closed, assigned to nobody

[2022-03-24 08:00] MansMeg commented on #144
Did you solve it?

[2022-03-24 10:31] rbbby commented on #144
Yes, 0.4.2 is almost finished.

[2022-03-24 10:38] MansMeg commented on #144
Wow!

[2022-03-24 10:38] MansMeg commented on #144
Can you produce the same quality plot you did before?

[2022-03-24 10:55] rbbby commented on #144
Here it is!

![acc-diff-042](https://user-images.githubusercontent.com/78153594/159900933-2b348497-5c2b-4a94-999f-61eeae43bf97.png)

[2022-03-24 10:57] MansMeg commented on #144
Nice!

[2022-03-29 08:16] rbbby opened #146 "Add an paragraph level ID in the parla-clarin files"
The xml schema has not been updated for a long while and we have found both bugs to solve and improvements to make.

- [x] #138 solve bug regarding pointers for unknown speakers

- [ ] Add an OCR-block level id

And more...

[2022-03-29 08:43] MansMeg commented on #146
I think we should split this to two issues.

[2022-03-31 14:48] fredrik1984 opened #147 "Use digitized dictionary entries of all MP 1867–1993/4 for metadata database"
We got a digital copy of the biographical entries of all MPs between 1867–1993/94 (OCR searchable PDFs) from the Riksdag Library. These are the dictionaries Två kammarriksdagen 1867–1970 (Norberg et al. 1992 and Enkammarriksdagen 1971–1993/94 (Asker & Norberg 1996). These could be a complement to Statskalendern and Wikidata. The Zip-file can be found here:

https://drive.google.com/drive/folders/

[2022-03-31 14:55] MansMeg commented on #147
This is a good idea!

[2022-03-31 22:10] salgo60 commented on #147
**Maybe we should coordinate** so we do this so we could help each other. I have connected > [1600](https://w.wiki/4uC8) WD persons with the book "Tvåkammar-riksdagen 1867-1970"

* SPARQL [list](https://w.wiki/4$KU)
   * same but [link API and sv:Wikipedia](https://w.wiki/4$Md)

as "Tvåkammar-riksdagen 1867-1970" has good information about parties I have also start added that in Wikidata and use "

[2022-04-01 06:08] fredrik1984 commented on #147
Great, that was fast!

[2022-04-01 06:28] fredrik1984 commented on #147
...and a related question to @salgo60: how easy would you say it is to extract MP info from this source?

[2022-04-01 06:47] salgo60 commented on #147
@fredrik1984 depends what you want? dont hesitate to call me +46-735152802

I am doing it one by one manually (and add sources for all statements/pictures...) but I feel we could use tools like [Open Refine ](https://libjohn.github.io/openrefine/hands-on-web-scraping.html)

The 1600 I have connected --> you have the API and OCR:ed text and Tvåkammar-riksdagen 1867-1970 is well structured so I gues

[2022-04-01 10:35] salgo60 opened #148 "Persistent identifier for documents"
My wish is that we get a persistant identifier so **we can create a [WIkidata property](https://www.wikidata.org/wiki/Wikidata:List_of_properties)** for your project that we can use to reference your data
* documents
* a Swedish MP
* a party you have identified and related data
* maybe also a specific lexeme in a document
* section in your [parla-clarin](https://clarin-eric.github.io/parla-clarin/

[2022-04-01 13:14] ninpnin commented on #138
[Fixed.](https://github.com/welfare-state-analytics/riksdagen-corpus/commit/27520aec7b3d24dafa775f5c2da1a9e85eb5bf6d)

[2022-04-01 13:14] #138 closed, assigned to ninpnin, fredrik1984, Stubbendorff, rbbby

[2022-04-01 13:15] ninpnin commented on #138
I.e., now speeches where the speaker is unknown are linked with _next_ and _prev_ attributes, too.

[2022-04-04 09:16] rbbby commented on #148
We are planning to update some parts of the xml schema soon and one thing high up on the priority list is a persistent textblock identifier so references can be made to a specific part of the corpus.

[2022-04-04 09:37] TomasSkotare opened #149 "Missing dates from party affiliation in wikidata leads to speeches with unknown party affiliation"
Essentially, even if we know who was the speaker, the party affiliation is often unknown for (generally) earlier speakers, often 1920s-1930s.

This is largely due to them not having dates associated with the their party affiliation for a given time, and there are multiple options.

One example can be:
https://www.wikidata.org/wiki/Q4820820
with approx. 500 recorded speeches, all with party affilia

[2022-04-04 11:19] salgo60 commented on #149
@TomasSkotare FYI in Wikidata I am updating the [party affiliation](https://www.wikidata.org/wiki/Q4820820?uselang=sv#P102) see https://github.com/salgo60/Wikidata_riksdagen-corpus/issues/38 using the book "Tvåkammar-riksdagen 1867-1970" as a source --> [Q4820820](https://www.wikidata.org/wiki/Q4820820) = [the book vol 2 p 440](https://portrattarkiv.se/details/sj9PGLAlnmUAAAAAABgcXg)

<img width="

[2022-04-04 11:51] MansMeg commented on #149
I think this is the way to go here. Ie update the from and to dates for these parties. I think we should also setup these political parties and their abbreviations. @salgo60 is this something you have in wikidata right now? I think we have som similar mapping now in the corpus, but @rbbby know more about the details.

[2022-04-04 12:11] salgo60 commented on #149
No good quality in Wikidata right now on dates etc.. you have some data in the book "Tvåkammar-riksdagen 1867-1970" see page 12 book 1 and also some [Wiki articles ](https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_politiska_partier_i_Sverige#Tv%C3%A5kammarriksdagen_(1867%E2%80%931970))feels have good quality

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/14206509/16153

[2022-04-04 12:27] MansMeg commented on #149
Hmm. Yes, we would need to formalize this somehow and also, ideally, connect their abbreviations to the parties as well to simplify your work.

What of this do we have in wiki data as of now? Could we add these party-paths in a structured way in wikidata? We would need to store it in a normalized form in our meta-data. But I guess we all want to get this in structured form?

[2022-04-04 12:54] salgo60 commented on #149
I guess we can only trust what is sourced from the book "Tvåkammar-riksdagen 1867-1970"

I am right now doing [Wikidata_riksdagen-corpus/issues/38](https://github.com/salgo60/Wikidata_riksdagen-corpus/issues/38)
* [X] get the [bookregister txt file cleaned](https://github.com/salgo60/Wikidata_riksdagen-corpus/blob/main/data/Register%20%C3%B6ver%20riksdagsmannabiografier%20band%201-5.txt) - 1 row p

[2022-04-04 14:48] MansMeg commented on #149
Ok. But if I understand you correctly, the parties in the picture needs to be added as well as you suggest, right?

To us I think the date from and date to from individual mps would be important to add as well to solve this issue. Maybe just go through the mps where we have oroblems and fix them in wd?

[2022-04-05 12:32] MansMeg opened #152 "Add page number as meta data in the protocols"
We will probably need to know the actual page number of each individual page of the protocols for referencing, but also to remove them when doing analysis. Hence, I think adding it as meta data that a "note" is a the page number will be a good thing to include.

[2022-04-05 13:23] MansMeg opened #153 "Check that we dont have any "Snabbprotokoll""
After a discussion with @rbbby we were not 100% sure that there is no snabbprotokoll in the data. Its not a big issue, but we should probably double-check this long term and before a version 1.0.

[2022-04-05 14:18] MansMeg commented on #149
I and @rbbby discussed this briefly. We think this needs to be done to solve your issue @TomasSkotare :
- [ ] Add start date and end date in our party affiliation csv-file
- [ ] Go through persons with multiple parties but without dates, and update them at wikidata
- [ ] Update our party affiliations from wikidata

Then we should branch out the other issues that Magnus mentions as separate issues

[2022-04-05 15:14] salgo60 commented on #153
Example of a "Snabbprotokoll"
* [H90992](https://data.riksdagen.se/dokument/H90992) [json](https://data.riksdagen.se/dokument/H90992.json) [xml](http://data.riksdagen.se/dokumentstatus/H90992) [pdf](http://data.riksdagen.se/fil/5507DADB-6F28-4345-8371-3F0E1D489ECA)
maybe they need another document type...

[2022-04-06 04:20] salgo60 commented on #149
Sounds great the best if you have it also at your place.... as Wikidata is open we get changes that can be vandalization and/or changes done with good intentions but not the same intention other people has ;-)

[video](https://youtu.be/uegHrG-iU2o)
* browser plugin [Entity_Explosion](https://www.wikidata.org/wiki/Wikidata:Entity_Explosion) mentioned in the video --> you can jump between the bookpa

[2022-04-06 08:18] MansMeg opened #154 "Follow up on quatestions with Parlamint"
- [x] Is the enddate set to 2022-02-01
- [x] What is the final technical document on what to deliver to ParlaMint

[2022-04-06 08:28] MansMeg opened #155 "Create a first version 0.1 of the ParlaMint corpus"

[2022-04-06 08:36] MansMeg opened #156 "Correct incorrect party dates in meta data"
Also see:
https://github.com/welfare-state-analytics/riksdagen-corpus/issues/149

- [x] Add start date and end date in our party affiliation csv-file @rbbby
- [x] Fix order so that dates are last
- [x] Check so that month and day is not imputed in the dates

[2022-04-06 08:45] MansMeg opened #157 "Add currently missing MPs to wikidata"
There are currently MPs missing in wikidata that we need to reduce the number of unknown speakers in the parliament. As a first step we will add all the persons we need for our corpus right now. For more info, see:
https://github.com/welfare-state-analytics/riksdagen-corpus/issues/149

- [ ] Create a list of MP names that is currently unknown in the corpus, aggregated by name, chamber, and mandate

[2022-04-06 08:47] MansMeg commented on #146
Based on the discussion we should add a paragraph ID in the form "protocol_id" + random hash with 8 characters.

[2022-04-06 08:59] TomasSkotare opened #158 "Dead or unborn (<15) man talking"
Person with ID Q5555684, Olof Andersson, 1839-03-08 -> 1912-12-29

General cause seems to be the same surname, e.g.:
          <note n="684f68b2" type="speaker">
            Herr ANDERSSON i Lycksele (s):
          </note>
          <u who="Q5555684" xml:id="i-ba712dfc66326d5e-19" n="71621342">
(From https://github.com/welfare-state-analytics/riksdagen-corpus/blob/main/corpus/protocols/197576/prot

[2022-04-06 09:07] MansMeg commented on #158
I think we should solve this by also adding a unit test for long-term quality control:
- [x] Add a unit test that an MP is not in a protocol after the date of death? Ideally we check that MPs are only in the protocols when they are actually a part of the parliament as a member fo parliament.
- [x] Fix those errors we find through the unit tests.

@ninpnin and @rbbby , any thoughts?

[2022-04-06 10:56] MansMeg commented on #149
This is a list of the wikidata entries we need to fix regarding start and end date of their party affiliations. I add them here, so also @salgo60 can help (if he wants to):

- [x] Q4952016
- [x] Q5600489
- [x] Q4941925
- [x] Q4955783
- [x] Q5885103
- [x] Q4991027
- [x] Q6206776
- [x] Q6068516
- [x] Q5548875
- [x] Q4959099
- [x] Q5895466
- [ ] Q5913938
- [ ] Q937985
- [ ] Q6178909
- [ ] Q5556026
-

[2022-04-06 19:05] salgo60 commented on #156
FYI: I have seen in "[Tvåkammarriksdagen 1867-1970](https://libris.kb.se/bib/498955)" some oddities that one person has one party affiliation that has no dates and the next has dates....

[2022-04-06 19:54] MansMeg commented on #149
@salgo60 : I have now got a green light from the Riksdagen Library to release the book Tvåkammarriksdagen 1867-1970 as CC0. Do you need anything more from me?

[2022-04-06 22:49] salgo60 commented on #149
@MansMeg excellent then we will have pictures of all Swedish PMs in that book in Wikidata

we need a statement like a webpage that its CC-0 that we can reference.....

best would be if Riksdagen Library could just have a page telling the book is CC-0 something like page [Riksdagens protokoll.Andra kammaren 1962, B01](https://weburn.kb.se/riks/metadata/33/19569833.html)

<img width="629" alt="image

[2022-04-07 08:12] salgo60 commented on #149
@MansMeg  One vague thought also translate the sources in the book "Tvåkammar-riksdagen 1867-1970" to linked data and connect the source to the description in the book :

1) today in Wikidata we try to have [one object for every Swedish PM](https://w.wiki/52Tr)
2) Now with the book "Tvåkammar-riksdagen 1867-1970" getting more and more important maybe we should have an entry in Wikidata for the boo

[2022-04-07 14:48] MansMeg commented on #146
After discussions with others I suggest that we use a UUID as ID here:
https://en.wikipedia.org/wiki/Universally_unique_identifier

This can be done with the uuid package in R (and I assume there is an equivalent library for Python). This should be globally unique, that was my worry.

[2022-04-07 19:51] MansMeg commented on #149
I now start to find incorrect parties in wikidata that would need to be fixed long term by adding the correct parties in the image above. Q5885103 was first a member of lmb that is translated as the moderate party, but this is not correct since the lmb split and some went to the "Högerpartiet" and some to what would be "Centern".

I guess that a first step would be to add all the parties in the li

[2022-04-07 19:52] MansMeg commented on #149
I actually think that soon we will be able to use the corpus to deduce this automatically for WD. Although we would need to find a way to do a lot of changes as a bulk then?

[2022-04-07 20:04] salgo60 commented on #149
@MansMeg bulk changes is no major problem

We use [Quickstaments](https://www.wikidata.org/wiki/Help:QuickStatements) or [Open Refine](https://www.wikidata.org/wiki/Wikidata:Tools/OpenRefine) or API calls

Yes there are a lot of parties that are not updated regarding to "Tvåkammar-riksdagen 1867-1970"

If you filter the timeline you [select parties like](http://minancestry.blogspot.com/2022/03/spa

[2022-04-07 20:13] MansMeg commented on #149
I think we need to add those parties that exist here:
https://user-images.githubusercontent.com/14206509/161539798-fd8fe7af-d6b8-49ad-b7fa-b650e806f6ce.png

I think Högerpartiet and Moderaterna is simply the same party but with different names. Although "Lantmanna och borgarepartiet" split into Högerpartiet, Jordbrukarnas fria grupp and Bondeförbundet. So we need to keep that as a separate party s

[2022-04-07 20:15] MansMeg commented on #149
Ah! yes. As you have done with olof Melin seems very reasonable! There he has been added to the many different parties.

[2022-04-07 20:26] salgo60 commented on #149
@MansMeg  The challenge with Wikidata is that we are [12000 people who should agree](https://stats.wikimedia.org/#/wikidata.org) and then some [1000 people on sv:WIkipedia](https://stats.wikimedia.org/#/sv.wikipedia.org) and maybe some 50 000 on WIkipedias [on > 200 different languages ](https://stats.wikimedia.org/#/all-projects) :smiley:

My feeling is that one person has added Moderaterna for e

[2022-04-07 21:08] MansMeg commented on #149
No, long-term it is not good enough for us. Although, right now it is not super-important.

It is hard for me to judge if everyone would agree, but formally it doesn't even there exist a "Högerpartiet" in the 1920ies. So the party back then was the "lantmanna and borgarepartiet". So I guess it is incorrect to label them as "Moderaterna" during the term in office, although some persons were probabl

[2022-04-07 21:45] salgo60 commented on #149
Yes that is the logic but maybe the person doing this just positioned them to the right ;-)

We have the same problem with "Liberalerna"

<img width="1150" alt="image" src="https://user-images.githubusercontent.com/14206509/162324689-16943162-eb00-4c29-b7f2-e40df831e3d1.png">

Karl Magnus Lindh WD  [Q5956462](https://www.wikidata.org/wiki/Q5956462?uselang=sv#P102) is **lib s** in our bible
<img wi

[2022-04-08 06:25] MansMeg commented on #149
Yes indeed. As I said, I think at least our corpus will need to distinguish between these parties and we will base this on the Tvåkammarriksdagen book. But maybe wait with updating wikidata with this info en masse then? Or what do you think?

[2022-04-08 08:52] ninpnin commented on #146
I would probably go with this: https://github.com/skorokithakis/shortuuid . It generates an UUID and formats it in base57 so the IDs aren't going to be awfully long in text.

[code]

[2022-04-08 09:07] MansMeg commented on #133
After our discoussion @rbbby , I think it is important for us to solve this issue better. Now we essentially add data that is not correct when we say that 1990 = 1990-01-01. Ill add this one ass a suggestion for 0.4.4.

[2022-04-08 09:10] ninpnin commented on #143
They pass now.

[2022-04-08 09:10] #143 closed, assigned to nobody

[2022-04-08 09:10] #145 closed, assigned to nobody

[2022-04-08 09:24] MansMeg opened #159 "Add functionality to extract gender and party from introductions"
There is an interest to complement the MP metadata for people that are currently unknown in the corpus. @rbbby has implemented functionality to extract this information from introductions.

A suggestion is to implement this as a function in a pyriksdagen python library for easy use.

[2022-04-08 09:32] MansMeg commented on #146
Ok. Does this exist in other languages than Python? The benefit with UUID is that more or less any language seem to support generating UUID?

[2022-04-08 12:22] ninpnin commented on #146
It is UUID (you get the same amount of random bits), it's just how you format it.

[2022-04-08 12:30] MansMeg commented on #146
Ok. Is the formating easy to do? I can't find a quick R package that does this? UUID has the benefit that it is very much standard. Although, I could probably code up an R package to do this if it is beneficial. How much space would we save bu using short uuid compared to UUID?

[2022-04-08 13:50] salgo60 commented on #149
My intention is to slowly updating the WD objects and use the Tvåkammarriksdagen book as the bible.... we have > 3000 Swedish PM people but miss pictures, source Tvåkammarriksdagen book....

**My todo list**
* updates [the WD objects](https://www.wikidata.org/wiki/Special:Contributions/Salgo60)
* add pictures of the Swedish PM people from SPA - [commons Special:ListFiles/Salgo60](https://commons.w

[2022-04-10 06:01] salgo60 commented on #149
@MansMeg  **"Missing dates"** how will you translate when we lack dates for one party?
* WD [Q6218962](https://www.wikidata.org/wiki/Q6218962?uselang=sv#P102)
* [SPA](https://portrattarkiv.se/details/sj9PGLAlnmUAAAAAABfsTQ)

<img width="744" alt="image" src="https://user-images.githubusercontent.com/14206509/162604454-ac2e67e6-f023-4be4-b331-3ab0eb80f1b6.png">

WD <-> Tvåkammarriksdagen
OT I have

[2022-04-10 15:14] MansMeg commented on #149
I find this to be difficult. I would just add the dates we know. Later on I think we will be avle to deduce these dates from the protocols. We are also obly interested of the party affiliation while in the parliament.

Is there a rutine in wd how to handle say a person that first is mp for one party, then out of parliament and then enter for a new party? We dont know the exakt switch date there?

[2022-04-10 15:25] MansMeg commented on #149
Also, for us it would be super helpful the more old mps that would be added since this will help us identify speakers in the protocols.

[2022-04-10 20:53] salgo60 commented on #149
* [] I am walking through the list of all people in the book "Tvåkammar-riksdagen 1867-1970" [link](https://github.com/salgo60/Wikidata_riksdagen-corpus/blob/main/data/WD%20Register%20%C3%B6ver%20riksdagsmannabiografier%20band%201-5.txt) -->  we will have 3815 Swedish MPs in Wikidata from the book
  * also in the book it tells if a father was part of "ståndsriksdagen" that is also added...

* My u

[2022-04-11 07:47] fredrik1984 commented on #149
Thanks for info @salgo60! I am currently writing the revised research infrastructure application to Riksbankens Jubileumsfond. Is it correct that there were 3815 ordinary MPs in the Bichamber Rikdag 1867–1970? And do you have the a similar figure for all MPs in the Unicameral Riksdag 1970– ? Would be good to add that information in the application!

[2022-04-11 08:15] salgo60 commented on #149
@fredrik1984

I guess you can ask Riksdagens API but its a moving target :rocket:

* [the list of in charge 349](https://github.com/salgo60/open-data-examples/blob/master/Riksdagens%20ledam%C3%B6ter%20status2.ipynb)
* the list what Riksdagen have [notebook](https://github.com/salgo60/open-data-examples/blob/master/Riksdagens%20ledam%C3%B6ter.ipynb) --> 2038
   * [json](http://data.riksdagen.se/per

[2022-04-11 08:56] salgo60 commented on #149
@fredrik1984 tips är att fundera över [Wikibase](https://wikiba.se/) som kommer i en cloud version [Wikibase.cloud](https://www.wikibase.cloud/)

Dennis Priskorn @dpriskorn en kille som bor i Sundsvall jobbar med Internetarchive och Wikibase om jag fattar rätt så läser dom Wikidata change strömmen ([APIRecent_changes_stream](https://www.mediawiki.org/wiki/API:Recent_changes_stream)) för att hitta

[2022-04-11 09:15] MansMeg commented on #149
Thats sounds like good principle for us to use as well, in the long run since that is what we actually know from the protocols.

I think WD should at least add one "party" that is "independent" connected to the wiki page:
https://sv.wikipedia.org/wiki/Partil%C3%B6s

Yes. That is something we need to handle. This also connects to the previous discussion in that historically we have had different ty

[2022-04-11 09:20] fredrik1984 commented on #149
Regarding "vildar", maybe a start would be to annotate them all as independent (or something adequate to "vilde"). Later on, it would make sense to also tag what kind of vilde they were, that is what historical name was used. But I guess there would still be a connection to which different party identities an MP had, right?

[2022-04-11 09:29] dpriskorn commented on #149
I dagsläget kör IA en Wikibase på Wbstack som sen kommer migreras till Wikibase.cloud när den tjänsten har lanserats.

https://wikicitations.wiki.opencura.com/wiki/Main_Page är den Wikibase vi jobbar mot just nu. Där syns egenskaperna modelleringen och ett par testobjekt som tex https://wikicitations.wiki.opencura.com/wiki/Item:Q93

[2022-04-11 09:37] salgo60 commented on #149
**How it will look in WIkipedia Wikidata** and hopefully we get a WD property for your data too in the future

*[ svWikipedia a reference ](https://sv.wikipedia.org/wiki/Carl_Axel_Trolle_(1810%E2%80%931879))to the scanned article of the book in SPA and a volume page ref and the name used in the index -  **vol. 3, s. 283, omnämnd som: Trolle i Klågerup, Carl A**

<img width="1242" alt="image" src="

[2022-04-11 14:50] fredrik1984 commented on #149
Thank you for the info @salgo60!

[2022-04-11 18:22] salgo60 commented on #149
OT @fredrik1984 @MansMeg  @rbbby @dpriskorn

Wiki Workshop 2022 April 25, 2022. **target group researchers** maybe something for you looks some ML related thing...

* [accepted papers](https://wikiworkshop.org/2022/#papers)
* [registration](https://t.co/LUuxoox0aA)

[2022-04-12 05:55] fredrik1984 commented on #149
Thank you for the info! Unfortunately, I might have difficulties to attend that day.

Fredrik Norén
PhD, Senior research assistant
Humlab
Umeå University
SE-901 87 Umeå, Sweden
+46 (0)73 995 10 15

umu.se/personal/fredrik-noren<http://umu.se/personal/fredrik-noren>
westac.se/en<http://westac.se/en>
inidun.github.io<http://inidun.github.io>
modernatider1936.se/en<http://modernatider1936.se/en>

[ci

[2022-04-12 08:32] salgo60 commented on #149
Thanks @dpriskorn I feel this event driven approach reading the [event stream of Wikipedia](https://www.mediawiki.org/wiki/API:Recent_changes_stream) is what we need implemented in digital humaniora.... as a background with international money transactions I feel archives, museums, research plattforms feels more SILOS than trying to be part in a echosystem... this feels like one way forward

* [me

[2022-04-21 12:36] ninpnin commented on #146
Done in https://github.com/welfare-state-analytics/riksdagen-corpus/commit/aa17c1c0e3bab4fa19926ab691dcc8928452a20e . The IDs are encoded in base58.

[2022-04-21 12:36] #146 closed, assigned to nobody

[2022-04-21 12:55] MansMeg commented on #146
Great!

[2022-04-21 12:56] MansMeg opened #160 "Create R functionality for uuids with base58"

[2022-04-21 13:55] ninpnin commented on #160
This seems to work: https://rdrr.io/cran/rbtc/man/base58CheckDecode.html

[code]

[2022-04-21 14:37] MansMeg commented on #160
Great!

[2022-04-22 06:01] MansMeg commented on #157
When going through this list of most common unknowns, it is clear that there are some difficulties that need to be fixed where people definitely exist in the MP database. For example, statsminister Göran Persson, Finansminister Magdalena Andersson, statsrådet Sträng o.s.v.

https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dev/input/most_common_unknowns.csv

These also make up quite

[2022-04-22 06:02] MansMeg commented on #157
Also, "talmannen" is a reason for a lot of unknowns. This should also quite easily be fixed.

[2022-04-22 08:00] MansMeg commented on #149
Ok. Lets close this issue right now. For now it is sufficient to add the party dates in the party_affiliation csv file. Then @TomasSkotare can handle multiple parties.

[2022-04-22 08:00] #149 closed, assigned to nobody

[2022-04-22 08:02] MansMeg commented on #156
I updated the issues so we focus on just getting the dates in the party affiliation csv file.

[2022-04-22 08:05] MansMeg commented on #157
After our discussions today, @rbbby will go through the first 300 names in the list and identify the source of the errors.

Maybe add a column here what needs to be fixed to fix that line in the file?
https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dev/input/most_common_unknowns.csv

Then we can all help out fixing sources of the errors?

[2022-04-22 13:43] rbbby commented on #157
I think there may be some bug with the ministers, will look into it.
I recall correctly the list of talmän is incomplete on wikidata (definitely the third vice speakers, will look into the others).
Will also start doing detective work on why some persons are not matched but need to develop some kind of tool for filtering our databases as it is very difficult now.

[2022-04-23 06:42] MansMeg commented on #157
Great! Yes. This also indicate that we need a test suite for the mapping. We should be warned if we write over known mappings with unknown.

[2022-04-23 06:44] MansMeg opened #161 "Create unit test for mappings"
@rbbby identified that we might have introduced a bug in the mapping algorithm. We should have a unit test that checks that the numbers of unknowns per protocols does not increase.

[2022-04-24 05:26] MansMeg commented on #154
We got emails the 7th of April that answer these questions.

[2022-04-24 05:26] #154 closed, assigned to fredrik1984

[2022-04-27 07:54] MansMeg opened #162 "Create structure for storing information on manually curated parts of the corpus"
Yesterday I had a discussion with a fiend of mine that is a developer at Ericson regarding how to store quality information (i.e. stuff that has been manually curated) in the corpus. He had one principle I think are reasonable.

Very few persons would want the exact quality level of different parts of the corpus (except us) and it would clog the data.

Hence, as we do with different tables for dif

[2022-04-28 10:41] ninpnin commented on #148
@rbbby should we regenerate <u> element ID's to be UUID's as well? Or just go with the ones we have currently?

[2022-04-28 11:05] MansMeg commented on #148
I think this is a good idea. Although release 0.4.3 first and do this in 0.4.4?

[2022-05-02 13:27] #156 closed, assigned to rbbby

[2022-05-02 13:53] rbbby opened #163 "Most common unknowns summary"
I have gone through the list of most common unknowns for version 0.4.2 and summarised the reasons for the persons not being matched in the corpus. Other than this we had bugs with names containing hyphens and ministers (these are now resolved).

Missing during some time period:
- [x] man, nordstrandh: seems to be Q6016028 missing in the 60s
- [x] odell: seems to be mats Q571725 missing in wikidata

[2022-05-02 18:50] MansMeg commented on #157
This has now been summarized in issue #163 instead.

[2022-05-02 18:50] #157 closed, assigned to nobody

[2022-05-03 11:08] MansMeg commented on #130
I think this is done with the new ids. Closing.

[2022-05-03 11:08] #130 closed, assigned to nobody

[2022-05-03 11:12] MansMeg commented on #46
I think this is done already? @ninpnin

[2022-05-03 11:38] salgo60 commented on #46
@MansMeg Is the plan that you will have an API (or is it GITHUB) that we can call and check for Wikidata consistancy ? Today in Wikidata we have
* [Property:P8433](https://www.wikidata.org/wiki/Property_talk:P8433) "Sveriges Riksdag dokument"
<img width="504" alt="image" src="https://user-images.githubusercontent.com/14206509/166445358-a82869de-a042-4ed0-ab21-057ed456c730.png">

* [Property:P8388]

[2022-05-03 11:47] rbbby opened #165 "Rebuild our Wikidata codebase"
Our infrastructure for pulling new data from Wikidata is a mess (difficult to work, build upon, and subject to breaking depending on certain updates in Wikidata). Fixing things like #133 has been done for a single file but we would like to do this for all of them and also to add functionality to update single individuals. I think we should put a day or two into rewriting this code.

[2022-05-04 07:15] MansMeg commented on #165
Add this as functionality in the pyriksdagen library
Lets do a demo of the code base next meeting

[2022-05-04 07:18] ninpnin commented on #120
The link is broken.

[2022-05-04 07:18] ninpnin commented on #134
This should be solved with BERT.

[2022-05-04 07:21] #42 closed, assigned to nobody

[2022-05-04 07:22] ninpnin commented on #46
We can set up a CI script to check whether new data is availalable every now and then.

[2022-05-04 07:23] ninpnin commented on #39
Is this still relevant with the wikidata metadata?

[2022-05-04 07:24] MansMeg opened #166 "Remove the n-hashes"

[2022-05-04 07:26] MansMeg opened #167 "Unit test to check that all paragraphs has ids"

[2022-05-04 07:41] MansMeg commented on #161
- None of the protocols should decrease by 50%
-  None of the protocols should have only unknowns
- None years should go down 5% or more

[2022-05-04 08:09] MansMeg commented on #162
We had a discussion during the sprint meeting and @ninpnin will take a first pass on this and come up with a suggestion on how to store this until the next curation meeting.

[2022-05-04 08:31] MansMeg commented on #39
Probably not. I close this now.

[2022-05-04 08:31] #39 closed, assigned to nobody

[2022-05-04 08:42] MansMeg commented on #46
@salgo60 For now github will be the api to the corpus. I dont really get the question on metadata? Also, we are still on version 0.x so I would be causion to build something on top of our data right now.

[2022-05-04 08:44] MansMeg commented on #46
@ninpnin I don think its nessecary. We are probably gonna update the corpus every now and then when we need/want to. The important part is that we have code and maybe som scripts to run to update.

[2022-05-04 08:46] salgo60 commented on #46
@MansMeg Thanks The problem Wikidata has as an open plattform is that we also have **vandalization** of data ---> if we can check our data with external sources --> its one way to find  **vandalization**

Metadata --> that we add wikidata objects for all "Riksdagens dokument" but not store the content as you do in TEI format... my understanding today is that we lack good support for TEI

[2022-05-04 08:59] salgo60 commented on #39
* [X]  Gustav Andersson (1945) second chamber --> [Lista_Över_ledamöter_av_Sveriges_riksdags_andra_kammare_1945-1948](https://sv.wikipedia.org/wiki/Lista_%C3%B6ver_ledam%C3%B6ter_av_Sveriges_riksdags_andra_kammare_1945%E2%80%931948) -->

<img width="565" alt="image" src="https://user-images.githubusercontent.com/14206509/166651381-0a41e951-f330-42cb-bd28-3df3e9547a3b.png">

* Wikipedia [Gustaf_And

[2022-05-04 09:12] MansMeg commented on #39
Great! Yes, then this issue is solved with the connection to wikidata

[2022-05-04 10:22] salgo60 commented on #39
* [X]  David Norman (1945) same as WD [Q6017122](https://www.wikidata.org/wiki/Q6017122)
* [X] Karl Wistrand (1945) same as WD [Q6340875](https://www.wikidata.org/wiki/Q6340875)

[2022-05-04 10:29] MansMeg commented on #39
Cool! Thanks @salgo60 !

[2022-05-04 10:32] MansMeg commented on #72
This is now being done as a masters thesis.

[2022-05-04 10:32] #72 closed, assigned to nobody

[2022-05-05 07:59] MansMeg commented on #72
It is a little too far away from my work. But they might find the same technique useful.

[2022-05-06 06:52] TomasSkotare opened #170 "Create a per-protocol speaker "changes" log for each new tag"
I.e. a log (for each protocol) which specifies each case where a speaker identity has changed, for each new tagged version.

This is done both as a sanity check (ensure that documents are not changed to a huge degree without cause) but also for overall quality control.

This includes changes such as :
* Unknowns to Known
* Known to unknown
* Known to other known

The log should possibly include:
*

[2022-05-06 09:24] salgo60 commented on #170
In Wikidata we do that using **[owl:sameas](https://www.w3.org/TR/owl-ref/#sameAs-def)**

As Wikidata is a multi language we have many odd cases when a person upload [August Strindberg](https://www.wikidata.org/wiki/Q7724) as a **new person** but just with a chinese label [奥古斯特·斯特林堡](https://zh.wikipedia.org/wiki/%E5%A5%A5%E5%8F%A4%E6%96%AF%E7%89%B9%C2%B7%E6%96%AF%E7%89%B9%E6%9E%97%E5%A0%A1) it ne

[2022-05-09 09:30] MansMeg commented on #170
@salgo60 This is slightly different and more an internal corpus thing.

[2022-05-09 09:34] salgo60 commented on #170
Ok lesson learned when connecting different domains is change management is important... we have an [API:Recent_changes_stream](https://www.mediawiki.org/wiki/API:Recent_changes_stream) that Google reads very fast

see [tweet](https://twitter.com/salgo60/status/1039846313888833536?s=20&t=lJW9mfZWpJH3JMb9XEFoLA) how Google updated the search interface 20 minutes after a change in WD

<img width="63

[2022-05-10 06:27] MansMeg opened #171 "Use BERT with AL for introduction identification"
We should use BERT with AL to fix three issues:

- [x] Identify introductions
- [x] Merge split introductions
- [ ] Split concatenated introductions

[2022-05-10 12:01] MansMeg commented on #120
Link is fixed. Old API.

[2022-05-14 14:10] #133 closed, assigned to nobody

[2022-05-17 16:32] rbbby commented on #158
Unit test has been added

[2022-05-17 16:32] #158 closed, assigned to nobody

[2022-05-17 16:36] rbbby commented on #161
Pushing this to 0.4.5 as rebuilding the wikidata api took a lot of debugging and this issue probably should be its own test (the other test related issues only required updating existing tests)

[2022-05-17 16:37] rbbby commented on #167
Pushing this to 0.4.5 as rebuilding the wikidata api took a lot of debugging and this issue probably should be its own test (the other test related issues only required updating existing tests).
Also this functionality already exist in the corpus, we just need to refactor it into a test.

[2022-05-18 06:45] #166 closed, assigned to nobody

[2022-05-18 06:45] #165 closed, assigned to nobody

[2022-05-18 06:49] rbbby opened #174 "Add wikidata querying functionality for specific individuals or groups"
Rebuilding the wikidata codebase in 0.4.4 took longer than expected, pushing this to next release.

[2022-05-18 06:58] #139 closed, assigned to ninpnin, rbbby

[2022-05-18 07:27] MansMeg opened #175 "Do a manual check of the mapping between introductions and individual MP"
We should take a random sample size of roughly 300 introductions (roughly 75 pages per person and 3 pages per decade) and then manually check if the person mapping is ok.

@rbbby will start to set up a CSV file with one intro per row and with relevant info to do check if the mapping is correct? If the mapping is unknown, give the Q-number from wikidata. Try to find.

@rbbby start out by testing th

[2022-05-30 13:25] rbbby commented on #175
Annotated 100+ observations for 0.4.4 where everything looks good.
After implementing BERT models for 0.4.5 I annotated 300 new observations and also created a gold standard for identifying speech holders name in intros (input/accuracy/intro_parser_gold_standard.csv).
Everything looks good but the need for some kind of dependency parsing of intros (which we already know). I added a pseudo dependen

[2022-05-30 13:25] #175 closed, assigned to nobody

[2022-05-30 13:34] MansMeg commented on #175
Excellent!

[2022-05-30 15:19] ninpnin commented on #162
#178 I would go with JSON. It allows for some flexibility which comes in handy as different curations change different parts of the data.

[2022-05-30 15:20] ninpnin commented on #162
Example file from the pull request:

[code]

[2022-06-01 11:06] rbbby opened #179 "map back to source data / update source data --> corpus pipeline"
### Problem

I am trying to map the corpus back to the original alto files so we can make use of KB:s annotation tool, images and metadata not stored in the corpus for building classifiers. Doing so has proven to be difficult as the corpus contains both incorrect links to the API and (both reasonable and incorrect) text processing. I have not investigated the API linking problem too much but it is

[2022-06-03 10:18] rbbby opened #182 "Classification pipeline suggestion"
### Summary
- We need a structured pipeline for classifications that will be easy to maintain
- Classifiers should be trained on OCR:d data to the extent possible in order to avoid serial dependencies
- We should aim to limit the number of classifiers to reduce costs and to avoid model dependencies and conflicts.

### Current pipeline
Essentially we want to build classifiers using active learning

[2022-06-03 10:32] MansMeg opened #183 "Split intros that has not been split correctly"
In the thesis on BERT and AL the student also identified which introductions to split using BERT. Now, these are not yet fixed in the corpus.

[2022-06-03 10:38] MansMeg opened #184 "Merge incorrectly split introductions"
Now we have introductions that are split in the corpus. These are both marked as introductions so in practice it does not create much problems if the introductions are removed. Although, we should merge these blocks into one introduction block in the long run.

[2022-06-03 10:46] MansMeg opened #185 "Include curation in the corpus as additional metadata"
We should wait for #162 to be finnished. Then we should start to add previously curated data as additional covariates. The purpose of strong the metadata on manually annotated curated data is twofold:

1) As a quality control. No data should be changed in a way that differs compared to manually curated (and checked) data.

2) To store training data from ML models for automated curation. In this wa

[2022-06-15 07:04] #174 closed, assigned to nobody

[2022-06-15 07:08] #171 closed, assigned to nobody

[2022-06-15 07:17] MansMeg commented on #162
The next step is to:
- [ ] 1) Write down principles for how to store curation as a "quality variable" in JSON.
- [ ] 2) Test to implement recently annotated data using this format in the corpus

[2022-06-15 07:33] #113 closed, assigned to nobody

[2022-06-15 07:33] #111 closed, assigned to nobody

[2022-06-15 08:57] ninpnin commented on #179
I'd wager that the majority of these cases are completely fine, see eg. https://betalab.kb.se/prot-1968--fk--18/prot_1968__fk__18-030.jp2/_view:

and many others even on that page. We've matched and joined "[a-z]-\n[a-z]" in general. That does break the mapping, though.

[2022-06-15 09:31] rbbby commented on #179
This makes sense and I think it is fine to break the mapping like this. My example however does not fall into this regex category.

It is _närings- och_ that gets merged. The newline does not matter here so this seems to be some other pattern.

<img width="783" alt="Screenshot 2022-06-15 at 11 25 51" src="https://user-images.githubusercontent.com/78153594/173794028-7e0bf703-9899-4e39-9256-e45ac7df

[2022-06-15 10:56] MansMeg opened #186 "Create a testset for manual mapping to ALTO files/pages in original document"
As is being discussed in #179, there seems to be a problem with the mapping between the actual page numbers of the protocols.

We should create a testset for manually assessing the quality of the mapping back to the original pages. i suggest we create a test set in the following way.

- [x] Take a random sample of 3 page XML elements per decade in the data and manually if the page reference is cor

[2022-06-15 11:00] MansMeg opened #187 "Add who-tag test set to the corpus"
We want to include the quality of the who tags/connections to the corpus. This is because of two reasons. First, to use as a training set stored with the data, and secondly for continuous testing of data quality.

We need to
- [ ] Add the data to the corpus using the structure suggested by @ninpnin, make it explicit that this is a testset
- [ ] Automatically estimate the error rate based on the te

[2022-06-15 13:07] MansMeg opened #188 "Create a testset for segmentation annotation"
We want to have good quality in the segmentation classification. I.e. the "seg"/"note"/"introduction"/"marginal notes" etc

When we know the quality of the page meta data as is explored in #186, we can create a test set for the segment classification.

We then want to do:
- [x] Define the classes to use - use the minimal possible set (maybe note/seg/introductions).
- [x] Take a random sample of 3

[2022-06-15 13:10] MansMeg opened #189 "Create a training, validation and test set for note/seg"
Current status (2024-01-25):
- [x] A bunch of training data
- [x] Proper train set
- [x] Validation set
- [x] Test set
- [x] BERT implementation

We probably want to have the student pool create the train set, and the Riksdagen people create the validation set. Then we also need to cross-check their work by having them annotate part of the test set too.

[2022-06-15 14:42] rbbby commented on #186
I finished a sample of 5 pages per decade and all page links were correct. This is very strange considering that almost all page links in #179 were incorrect. Need to investigate what is going wrong here further.

[2022-06-15 14:49] MansMeg commented on #186
Ok so already 50 samples? That was quick. Maybe add to 20 pages per decade to be more sure? I guess it is not a huge problem (then we would have seen it) but with 20 per decade it would also give a good estimate.

Have you stored it so we @ninpnin can add it to the corpus?

[2022-06-15 17:02] rbbby commented on #186
We only have pages for the OCR:d (not born digital) protocols so it was only 35 pages. I doubled the amount, annotating a total of 70 pages, storing it in _input/segmentation/image_url_sample.csv_.

One error was found in:

Following the pages at betalab and the corpus to see where page numbering / links get out of sync. Starting from page 026 (real page number is 27) with both sources being in sy

[2022-06-15 18:11] MansMeg commented on #186
Boom! Very good initiative to look at this @rbbby . Maybe annotate even more (and also born digital) and see if we fin any patterns.

A rough estimate is that 1.4% of the corpus has problems here.

[2022-06-16 06:44] ninpnin commented on #179
Found the bug: https://github.com/welfare-state-analytics/riksdagen-corpus/blob/main/pyriksdagen/download.py#L139

EDIT: too bad KB's servers seem to be down and we can't try and fix it yet.

[2022-06-16 07:57] ninpnin commented on #186
Seems like the scripts assumes all consecutive pages exist in the KB package, which turns out not to be true in some of the cases. I can write a fix once I can reach KB's servers again.

[2022-06-16 07:58] ninpnin commented on #186
As a bonus, we'll get info on what pages are missing on KB's side now :)

[2022-06-20 19:12] MansMeg opened #191 "Add unit test on party existance"
We should test that parties only exist in the corpus when the parties actually exists. Ie this is a way to check the MPs.

[2022-08-02 06:40] MansMeg commented on #162
I guess this would need some work by both @ninpnin and @rbbby. What do you think? How do we fix this in the next two weeks?

[2022-08-02 06:43] MansMeg commented on #48
This issue will be solved with the other two in this milestone. Closing.

[2022-08-02 06:43] #48 closed, assigned to ninpnin

[2022-08-08 11:19] ninpnin commented on #162
I wrote a schema to check these against:

[code]

[2022-08-08 11:33] MansMeg commented on #162
Alright! Can you do the two tasks above? Just write down the principles used and, with the help of @rbbby figure out how to store our data like this?

[2022-08-08 12:03] ninpnin commented on #162
I can use some of the earlier annotation data that's available to me. @rbbby Do you know if we have the newer curation data somewhere so that it could be added?

[2022-08-12 13:21] ninpnin commented on #162
I converted the newest annotations into this format and checked it against the new schema #192

[2022-08-15 08:28] #162 closed, assigned to ninpnin

[2022-08-23 07:15] ninpnin commented on #189
The code is here: https://github.com/welfare-state-analytics/riksdagen-corpus/tree/main/input/multi_label_classifier , we still need to run it (and check for errors)

[2022-08-23 11:25] ninpnin commented on #186
I've implemented a prototype of this. As we do some small preprocessing right away, the test can't directly compare word error rates. Instead, it

1. Extracts all text both from the ALTO file and parlaclarin file
2. Removes whitespace and hyphen characters from both
3. Heuristically splits the text by '.' into sentences
4. Calculates how many of these 'sentences' are exactly the same

A 5% error u

[2022-08-29 15:50] ninpnin commented on #179
Done.

[2022-08-29 15:50] #179 closed, assigned to nobody

[2022-08-29 15:50] ninpnin commented on #155
So far, data is only available up until 2021 https://data.riksdagen.se/data/dokument/

[2022-08-29 15:53] ninpnin commented on #140
Duplicate of #189

[2022-08-29 15:53] #140 closed, assigned to nobody

[2022-09-09 17:44] salgo60 opened #193 "Integrate Riksdagen-corpus with Wikipedia?"
**Question A**: Do we have a landing page for people in your corpus?

@MansMeg if this project is still alive and you have a landing page we could easy do an integration with Wikipedia on all languages see [long video](https://www.youtube.com/watch?v=YNILvlAW3SM) in Swedish and [Github comment](https://github.com/salgo60/ProjectOutdoorGyms/issues/120#issuecomment-1242183361)

Dont hesitate to call

[2022-09-12 13:49] ninpnin commented on #185
We'll do a manual check after v0.4.6 is done. This will result in manual annotations that will be stored in this format.

[2022-09-12 13:54] ninpnin commented on #187
I suggest this is done as part of the manual annotation round we conduct after v0.4.6 is ready.

[2022-09-12 14:34] ninpnin commented on #186
Now it runs on every push.

[2022-09-12 14:34] #186 closed, assigned to ninpnin, rbbby

[2022-09-22 09:49] ninpnin opened #195 "Linguistic annotation"
- [x] Tokenisation and sentence segmentation
- [x] Lemmatisation and UD morphological features
- [x] UD syntactic annotations
- [ ] NER marking (PER, LOC, ORG, MISC)

[2022-09-22 09:49] ninpnin commented on #195
Hublab has been using this library for linguistic annotation: https://spraakbanken.gu.se/sparv/#/sparv-pipeline . I think we should use that too.

[2022-09-22 09:51] ninpnin commented on #59
Covered in the ParlaMint milestone.

[2022-09-22 09:51] #59 closed, assigned to nobody

[2022-09-22 09:54] ninpnin opened #196 "Adapt TEI structure to the new schema"
- [ ] Make changes to parlaclarin formatted TEI files to fit new schema
- [ ] Write validation scripts
- [ ] Validate all files against the new schema

[2022-09-27 14:29] TomasSkotare opened #197 "Duplicates in government.csv"
There are several duplicates (identical rows) in the metadata file [government.csv](https://github.com/welfare-state-analytics/riksdagen-corpus/blob/dfb3eaa4535ddc341137de47c80d4b5c667166cb/corpus/metadata/government.csv)

This causes issues with later validation scripts, and it would be nice if those could be removed.

[2022-09-27 14:31] MansMeg commented on #197
Could you do a PR with this edit? I guess it is quickly fixed.

[2022-09-27 15:02] salgo60 commented on #197
Here are the Wikidata Qnumbers if you would like to have **same as** in the file?

* [SPARQL list](https://w.wiki/5kf$) / [enWikipedia](https://w.wiki/5ka6) / [svWikipedia](https://w.wiki/5ka8)

<img width="1385" alt="image" src="https://user-images.githubusercontent.com/14206509/192695721-af8f2c59-5d21-449f-9550-34edea512bb4.png">
<img width="1385" alt="image" src="https://user-images.githubuserc

[2022-09-27 15:11] MansMeg commented on #197
That would be nice to have. Or what does @ninpnin think? Could you do a PR @salgo60 if Väinö gives a green light?

[2022-09-27 15:37] ninpnin commented on #197
Sure, if the Qnumbers for the governments are nicely available, let's add them.

[2022-09-27 16:19] salgo60 commented on #197
I can try to do it tomorrow

@ninpnin
a) name of WIkidata Q number column
b) shall we add sv [Wikipedia article name](https://w.wiki/5ka8) like:

[sv:Regeringen_Andersson](https://sv.wikipedia.org/wiki/Regeringen_Andersson) or the URL https://sv.wikipedia.org/wiki/Regeringen_Andersson

[2022-09-28 09:06] ninpnin commented on #197
I think we should only add the wikidata q number column. The end user fetch the wikipedia article link themselves if necessary.

[2022-09-28 09:07] ninpnin commented on #197
Also, the queary used to get the governments should be updated when we do this: https://github.com/welfare-state-analytics/riksdagen-corpus/blob/main/input/queries/government.rq

[2022-09-28 09:12] MansMeg commented on #197
cool I open the issue again now

[2022-09-28 10:25] salgo60 commented on #197
A fix with Qnumber is done see [Pull 199](https://github.com/welfare-state-analytics/riksdagen-corpus/pull/199)
* (Maybe that list was generated with WD SPARQL and [should be fixed in the SPARQL](https://github.com/welfare-state-analytics/riksdagen-corpus/blob/main/input/queries/government.rq)?)

**OT**

@MansMeg can you call me about the POC #193
Phone: 0735152802
Its a suggestion how to integrat

[2022-10-06 04:57] MansMeg opened #200 "Change wiki_id to wikidata_item_id"
All wikidata ids should have the name
wikidata_item_id
This will not be back compatible.

[2022-10-19 10:58] TomasSkotare opened #201 "Consider how older parties are merged into newer parties"
Some parties are today merged into party "X" during processing, as they are not considered to have any modern descendants.

We should reconsider some of these, as for example V have very few speeches in the early protocols, even though several parties could be considered to be a successor to the modern V.

I do not currently have an exhaustive list of which party should belong where; this is curre

[2022-10-28 08:36] ninpnin commented on #201
I think we should follow the party lineage by wikidata, as that's what we use as a metadata source. Moreover, we need the wikidata IDs for the parties.

[2022-11-03 12:57] TomasSkotare commented on #201
[Partier och förkortningar.xlsx](https://github.com/welfare-state-analytics/riksdagen-corpus/files/9929294/Partier.och.forkortningar.xlsx)
This is the current "translation" we use for the most recent parsing of the data, using the parties currently assigned to all found speakers, i.e. parties that have spoken at least once in the corpus.

This list was compiled by Johan at my request and does, as

[2022-11-03 14:00] MansMeg commented on #201
This is good. Since we got funding we can start to think about a long term solution to this. I know @ninpnin had some ideas here.

I think we should solve this with three tables:
party.csv
with information on the actual party. Each line contain one party. Like:
- party_id
- last_formal_name
- wikidata_id
- from_date
- to_date

party_map.csv
Each line contain a map between two parties in a merge or

[2022-11-04 09:29] TomasSkotare opened #202 "Most common introductions from unknown speakers"
A new list of the most common introductions from the speakers still not identified.

Some seem to be low-hanging fruit, and several are "Talmannen" and so on, which can possibly be identified if we were able to identify who it was for each protocol.

[most_common_unknown_introductions.csv](https://github.com/welfare-state-analytics/riksdagen-corpus/files/9936858/most_common_unknown_introductions.c

[2022-11-04 10:16] TomasSkotare opened #203 "Current most common identified speakers who has no party affiliation"
This is a list of people who are known (identified) but do not have a party affiliation scraped (in [party affiliation](https://raw.githubusercontent.com/welfare-state-analytics/riksdagen-corpus/main/corpus/metadata/party_affiliation.csv)).

One of these has a party affiliation set in [member_of_parliament](https://raw.githubusercontent.com/welfare-state-analytics/riksdagen-corpus/main/corpus/meta

[2022-11-04 14:24] ninpnin commented on #202
A heuristic for _talman_ matching already exists, there's just so many of them that missing a few percent of them makes it in the top.

[2022-11-04 14:34] ninpnin commented on #203
I checked some of the people with most speeches. Interestingly, some of those have a party on Wikidata, while some do not. Maybe we should rescrape the data?

[2022-11-04 14:36] ninpnin commented on #203
Either way, I think we should move the all party affiliations to the party affiliation file. Having some in the party affiliation file and some in the member of parliament one is confusing, even if it corresponds to two different data sources.

[2022-11-04 16:19] MansMeg commented on #203
I fully agree. We should let the data be the API and make it as intuitive as possible.

[2022-11-15 12:03] MansMeg opened #204 "Add riksdagen-öppna-data id to MPs and speeches"
In riksdagens öppna data there exists an ID of both the individual speeches and the individual members of parliament.

We should add this ID as metadata to the corpus. Both concerning the MPs and the speeches (anföranden). This will help further simplify quality improvements.

[2022-11-15 12:06] MansMeg opened #205 "Add the date ISO format to the design choices of the project"
I think we have settled down on a specific date format we should use (ISO). I can't find this in the documentation right now. We should add this as a design choice (or decision on format). I'm not sure where to document this, but maybe in the wiki?

[2022-11-15 12:08] MansMeg opened #206 "Fix segmentation in 1995"
There seem to be problems in how the data was segmented in 1995. We should check these protocols and potentially fix this.

[2022-11-15 12:11] MansMeg opened #207 "Add page metadata for the modern (1995-) protocols"
The modern protocols (post 1995) are created from the XML files. hence there is no metadata on what text comes from which text. Having a mapping back to the original documents would be a very good thing to have. This already exists from the OCRed protocols. Now we don't have that mapping.

[2022-11-15 12:50] MansMeg opened #208 "Stable URI for protocols and protocol pages"
We would like to have stable URI or URLs to pages from the party procol pages so we can link directly to the protocol pages from the corpus. Ideally in a stable way that can also be sued by Wikipedia and the like. We should talk to riksdagsbiblioteket and Martin på Kungliga biblioteket about this. Then we should fix our page links to these pages to simplify for researchers to read pages.

[2022-11-15 13:12] MansMeg commented on #201
ping @ninpnin

[2022-11-15 13:41] ninpnin commented on #201
Sounds good. Further suggestions

- party_names.csv needs start and end too, as well as some kind of 'primary_name' handle.
- party_map.csv might be more readable with 'party_id' and 'successor_id'. Does not really change the underlying structure

[2022-11-16 11:06] TomasSkotare opened #209 "List of most common speakers marked as "uncertain" affiliation, by decade"
Party affiliation is "uncertain" if the speaker, at the date of speaking, is not within one the time range of ONE specified party affiliation.

This can happen if more than one party is assigned to that time (due to affiliation only being specified by year, for example), no party has start/end dates, and similar issues.

It is possible to extract exactly why it was considered "uncertain" but this

[2022-11-16 11:43] MansMeg commented on #209
Great with this information!

[2022-11-22 13:21] ninpnin commented on #155
In progress at https://github.com/ninpnin/ParlaMint

[2022-11-22 13:21] #155 closed, assigned to ninpnin

[2022-11-22 13:23] ninpnin commented on #195
Done

[2022-11-22 13:23] #195 closed, assigned to nobody

[2022-11-22 13:23] #196 closed, assigned to nobody

[2022-11-22 13:23] #116 closed, assigned to ninpnin

[2022-11-22 13:25] ninpnin commented on #84
Done

[2022-11-22 13:25] #84 closed, assigned to nobody

[2022-11-22 13:26] ninpnin commented on #86
Done

[2022-11-22 13:26] #86 closed, assigned to nobody

[2022-11-22 13:27] ninpnin commented on #19
Will be solved in #189

[2022-11-22 13:27] ninpnin commented on #53
Done with Wikidata

[2022-11-22 13:27] #53 closed, assigned to nobody

[2022-11-22 13:29] ninpnin commented on #152
- [x] Scanned era
- [ ] Digital era, tracked in #207

[2022-11-22 13:29] #152 closed, assigned to nobody

[2022-11-22 13:30] ninpnin commented on #159
AFAIK we do not want to pursue this further.

[2022-11-22 13:30] #159 closed, assigned to nobody

[2022-11-22 13:30] ninpnin commented on #128
Done.

[2022-11-22 13:30] #128 closed, assigned to nobody

[2022-11-22 13:31] ninpnin commented on #123
Continued in #201

[2022-11-22 13:31] #123 closed, assigned to nobody

[2022-11-22 13:34] ninpnin commented on #120
Should we remove these? Can be done easily with regex.

[2022-11-22 13:34] ninpnin commented on #106
Done

[2022-11-22 13:34] #106 closed, assigned to nobody

[2022-11-22 13:35] ninpnin commented on #32
Deprecated

[2022-11-22 13:35] #32 closed, assigned to nobody

[2022-11-22 13:36] ninpnin commented on #17
Tracked elsewhere

[2022-11-22 13:36] ninpnin commented on #16
Resolved.

[2022-11-22 13:39] ninpnin commented on #37
Tracked in #102

[2022-11-22 13:39] #37 closed, assigned to MansMeg, ninpnin

[2022-11-22 13:40] MansMeg commented on #120
I don't know. Or should we replace them with ordinary hyphens instead? Do we have any examples of these?

Or rather, what is the reason for these hyphens and how many are there?

[2022-11-22 13:41] ninpnin commented on #197
Resolved

[2022-11-22 13:41] #197 closed, assigned to nobody

[2022-11-22 13:42] #108 closed, assigned to nobody

[2022-11-22 13:46] ninpnin commented on #120
If a "soft hyphen" is what I think it is, we can remove them without losing information. For instance

would be perfectly alright as

in any context. It's just something we inherit from the HTML structure, where it might be beneficial to be able to split rows more flexibly.

[2022-11-22 14:06] MansMeg commented on #120
Let's be very sure about this. I think the probability should be 0.95 that we have less than 1% of all soft hyphens that can be removed correctly.

[code]
This means that if only one hyphen cannot be removed out of 300 we can be sure to remove the rest. I think this can be a good quality check in general.

[2022-11-22 14:12] ninpnin commented on #120
We seem to have 59379 lines with this character in the 2000s.

[2022-11-22 14:18] ninpnin commented on #125
Deprecated

[2022-11-22 14:18] #125 closed, assigned to nobody

[2022-11-22 14:21] ninpnin commented on #148
Continued in #208

[2022-11-22 14:21] #148 closed, assigned to nobody

[2022-11-22 14:25] ninpnin commented on #46
Deemed unnecessary

[2022-11-22 14:25] #46 closed, assigned to nobody

[2022-11-22 14:27] ninpnin commented on #101
Resolved, we keep everything

[2022-11-22 14:27] #101 closed, assigned to nobody

[2022-11-23 10:36] MansMeg opened #210 "Move pyriksdagennlibrary to separate repo"
There is a need to use and add variables that can easily be derived from the corpus. Examples are junior mps (first term mps), age at speach etc.

We should create a python library with this type of unctionality as a separate repo. The functions there should have test suites for the functionality and be implemented so they are easy to reuse.

we need to decide on the API. I suggest we have a prefi

[2022-11-23 13:36] ninpnin commented on #201
The metadata about party affiliations has been moved from member_of_parliament.csv to party_affiliation.csv https://github.com/welfare-state-analytics/riksdagen-corpus/commit/9c126890628271a17fc48f2e4432ca9b815ac615

This should make dealing with the parties easier.

[2022-11-24 00:25] salgo60 commented on #208
@MansMeg keep us updated so we can add it to Wikidata as a property

* best would be if we get it as LIBRIS-URI as we already have it in Wikidata [ Property:P5587](https://www.wikidata.org/wiki/Property:P5587)

# and not just protocols

Best would be if Wikidata is not the Authority for objects as the basic idea is that Wikidata gets trust from facts with sources from Authorities i.e. it makes als

[2022-11-24 11:11] ninpnin commented on #208
@salgo60 that sounds like a good solution, we'll contact KB

[2022-11-24 22:28] salgo60 commented on #208
Dont forget Riksdagens Öppna data in the equation so we avoid another SILO

* see my thoughts [Wikidata_riksdagen-corpus #81](https://github.com/salgo60/Wikidata_riksdagen-corpus/issues/81)